[data-media-source="media-xl"] .lpc-features-icon__header {
    margin: 0 0 32px;
}

[data-media-source="media-xl"] .lpc-features-icon__title + .lpc-features-icon__desc {
    margin: 28px 0 0;
}

[data-media-source="media-xl"] .lpc-features-icon__item {
    display: flex;
    align-items: flex-start;
}

[data-media-source="media-xl"] .lpc-features-icon__item.lpc-two-columns:nth-child(-n+2) {
    margin-top: 0 !important;
}

[data-media-source="media-xl"] .lpc-features-icon__item.lpc-three-columns:nth-child(-n+3):not(.lpc-container-material) {
    margin-top: 0 !important;
}

[data-media-source="media-xl"] .lpc-features-icon__item.lpc-container-material.lpc-three-columns:nth-child(-n+3) {
    margin-top: 0 !important;
}

[data-media-source="media-xl"] .lpc-features-icon__item--align {
    align-items: center;
}

[data-media-source="media-xl"] .lpc-features-icon__item--align .lpc-features-icon__icon-box {
    align-self: center;
}

[data-media-source="media-xl"] .lpc-features-icon__icon-box {
    margin: 0 24px 0 0;
    max-width: 140px;
    max-height: 140px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background: var(--primary-color-l-35);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 16px;
    align-self: flex-start;
    flex: 0 0 auto;
}

[data-media-source="media-xl"] .lpc-features-icon__icon {
    font-size: 0;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-media-source="media-xl"] .lpc-features-icon__icon svg {
    width: 100%;
    height: 100%;
}

[data-media-source="media-xl"] .lpc-features-icon__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

[data-media-source="media-xl"] .lpc-features-icon__subtitle + .lpc-features-icon__text {
    margin: 16px 0 0;
}

[data-media-source="media-lg"] .lpc-features-icon__header {
    margin: 0 0 32px;
}

[data-media-source="media-lg"] .lpc-features-icon__title + .lpc-features-icon__desc {
    margin: 28px 0 0;
}

[data-media-source="media-lg"] .lpc-features-icon__item {
    display: flex;
    align-items: flex-start;
}

[data-media-source="media-lg"] .lpc-features-icon__item.lpc-two-columns:nth-child(-n+2) {
    margin-top: 0 !important;
}

[data-media-source="media-lg"] .lpc-features-icon__item.lpc-three-columns:nth-child(-n+3):not(.lpc-container-material) {
    margin-top: 0 !important;
}

[data-media-source="media-lg"] .lpc-features-icon__item.lpc-container-material.lpc-three-columns:nth-child(-n+2) {
    margin-top: 0 !important;
}

[data-media-source="media-lg"] .lpc-features-icon__item--align {
    align-items: center;
}

[data-media-source="media-lg"] .lpc-features-icon__item--align .lpc-features-icon__icon-box {
    align-self: center;
}

[data-media-source="media-lg"] .lpc-features-icon__icon-box {
    margin: 0 24px 0 0;
    max-width: 140px;
    max-height: 140px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background: var(--primary-color-l-35);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 16px;
    align-self: flex-start;
    flex: 0 0 auto;
}

[data-media-source="media-lg"] .lpc-features-icon__icon {
    font-size: 0;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-media-source="media-lg"] .lpc-features-icon__icon svg {
    width: 100%;
    height: 100%;
}

[data-media-source="media-lg"] .lpc-features-icon__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

[data-media-source="media-lg"] .lpc-features-icon__subtitle + .lpc-features-icon__text {
    margin: 16px 0 0;
}

[data-media-source="media-md"] .lpc-features-icon__header {
    margin: 0 0 32px;
}

[data-media-source="media-md"] .lpc-features-icon__title + .lpc-features-icon__desc {
    margin: 28px 0 0;
}

[data-media-source="media-md"] .lpc-features-icon__item {
    display: flex;
    align-items: flex-start;
}

[data-media-source="media-md"] .lpc-features-icon__item.lpc-two-columns:nth-child(-n+2) {
    margin-top: 0 !important;
}

[data-media-source="media-md"] .lpc-features-icon__item.lpc-three-columns:nth-child(-n+2) {
    margin-top: 0 !important;
}

[data-media-source="media-md"] .lpc-features-icon__item--align {
    align-items: center;
}

[data-media-source="media-md"] .lpc-features-icon__item--align .lpc-features-icon__icon-box {
    align-self: center;
}

[data-media-source="media-md"] .lpc-features-icon__icon-box {
    margin: 0 24px 0 0;
    max-width: 140px;
    max-height: 140px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background: var(--primary-color-l-35);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 16px;
    align-self: flex-start;
    flex: 0 0 auto;
}

[data-media-source="media-md"] .lpc-features-icon__icon {
    font-size: 0;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-media-source="media-md"] .lpc-features-icon__icon svg {
    width: 100%;
    height: 100%;
}

[data-media-source="media-md"] .lpc-features-icon__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

[data-media-source="media-md"] .lpc-features-icon__subtitle + .lpc-features-icon__text {
    margin: 16px 0 0;
}

[data-media-source="media-sm"] .lpc-features-icon__header {
    margin: 0 0 24px;
}

[data-media-source="media-sm"] .lpc-features-icon__title + .lpc-features-icon__desc {
    margin: 20px 0 0;
}

[data-media-source="media-sm"] .lpc-features-icon__item {
    display: flex;
    align-items: flex-start;
}

[data-media-source="media-sm"] .lpc-features-icon__item.lpc-two-columns:nth-child(-n+1) {
    margin-top: 0 !important;
}

[data-media-source="media-sm"] .lpc-features-icon__item.lpc-three-columns:nth-child(-n+1) {
    margin-top: 0 !important;
}

[data-media-source="media-sm"] .lpc-features-icon__item--align {
    align-items: center;
}

[data-media-source="media-sm"] .lpc-features-icon__item--align .lpc-features-icon__icon-box {
    align-self: center;
}

[data-media-source="media-sm"] .lpc-features-icon__icon-box {
    margin: 0 20px 0 0;
    max-width: 140px;
    max-height: 140px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background: var(--primary-color-l-35);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 12px;
    align-self: flex-start;
    flex: 0 0 auto;
}

[data-media-source="media-sm"] .lpc-features-icon__icon {
    font-size: 0;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-media-source="media-sm"] .lpc-features-icon__icon svg {
    width: 100%;
    height: 100%;
}

[data-media-source="media-sm"] .lpc-features-icon__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

[data-media-source="media-sm"] .lpc-features-icon__subtitle + .lpc-features-icon__text {
    margin: 16px 0 0;
}

[data-media-source="media-xs"] .lpc-features-icon__header {
    margin: 0 0 24px;
}

[data-media-source="media-xs"] .lpc-features-icon__title + .lpc-features-icon__desc {
    margin: 20px 0 0;
}

[data-media-source="media-xs"] .lpc-features-icon__item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 16px;
    row-gap: 12px;
}

[data-media-source="media-xs"] .lpc-features-icon__item.lpc-two-columns:nth-child(-n+1) {
    margin-top: 0 !important;
}

[data-media-source="media-xs"] .lpc-features-icon__item.lpc-three-columns:nth-child(-n+1) {
    margin-top: 0 !important;
}

[data-media-source="media-xs"] .lpc-features-icon__item--align {
    align-items: center;
    
    justify-content: center; /*Убрать придется если что*/
    text-align: center; /*Убрать придется если что*/
}

[data-media-source="media-xs"] .lpc-features-icon__item--align .lpc-features-icon__icon-box {
    align-self: center;
}

[data-media-source="media-xs"] .lpc-features-icon__icon-box {
    /*margin: 0 16px 12px 0;*/
    max-width: 140px;
    max-height: 140px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background: var(--primary-color-l-35);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /*padding: 8px;*/
    padding: 10px;
    align-self: flex-start;
    flex: 0 0 auto;
}

[data-media-source="media-xs"] .lpc-features-icon__icon {
    font-size: 0;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-media-source="media-xs"] .lpc-features-icon__icon svg {
    width: 100%;
    height: 100%;
}

[data-media-source="media-xs"] .lpc-features-icon__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

[data-media-source="media-xs"] .lpc-features-icon__holder {
    flex: 1 1 calc(100% - 64px - 12px);
}

[data-media-source="media-xs"] .lpc-features-icon__subtitle + .lpc-features-icon__text {
    margin: 12px 0 0;
}

.lpc-features-icon__item-card {
    border: 1px solid var(--text-color-a-01);
}

.lpc-features-icon__wrap.lpc-left .lpc-features-icon__header {
    text-align: left;
}

.lpc-features-icon__wrap.lpc-left .lpc-features-icon__list {
    justify-content: flex-start;
}

.lpc-features-icon__wrap.lpc-center .lpc-features-icon__header {
    text-align: center;
}

.lpc-features-icon__wrap.lpc-center .lpc-features-icon__list {
    justify-content: center;
}

.lpc-features-icon__wrap.lpc-right .lpc-features-icon__header {
    text-align: left;
}

.lpc-features-icon__wrap.lpc-right .lpc-features-icon__list {
    justify-content: flex-end;
}

.lpc-features-icon__wrap-box--container {
	background-color: var(--primary-color-a-01);
}

.lpc-features-icon__item--bg {
	background: var(--content-background-lpc);
	border: none;
}