/*LPC element #1*/

.lpc-elements-button-1 {
    padding: 32px 0 24px; 
}

.lpc-elements-button-1__row._center,
.lpc-elements-button-1__row._center .lpc-elements-button-1__buttons{
    display: flex;
    justify-content: center;
}
.lpc-elements-button-1__row._right,
.lpc-elements-button-1__row._right .lpc-elements-button-1__buttons{
    display: flex;
    justify-content: flex-end;
}

.lpc-elements-button-1__buttons {
    display: flex;
    flex-wrap: wrap; 
    margin: 0 -8px;
}

.lpc-elements-button-1__buttons.vertical_buttons {
	flex-direction: column;
}


.lpc-elements-button-1__button {
    margin: 0 8px 8px;
}

[data-media-source="media-xs"] .lpc-elements-button-1__button {
	width: calc(100% - 16px);
}


[data-media-source="media-xl"] .lpc-elements-button-1__buttons.vertical_buttons .lpc-button--type-3,
[data-media-source="media-lg"] .lpc-elements-button-1__buttons.vertical_buttons .lpc-button--type-3,
[data-media-source="media-md"] .lpc-elements-button-1__buttons.vertical_buttons .lpc-button--type-3,
[data-media-source="media-sm"] .lpc-elements-button-1__buttons.vertical_buttons .lpc-button--type-3{
	display: block;
	text-align: center;
	margin: 0 8px 8px;
	min-height: initial;
}

[data-media-source="media-xs"] .lpc-elements-button-1 .lpc-button--type-3 {
	text-align: center;
	text-align-last: center;
	display: block;
	min-height: initial;
}

.lpc-elements-button-1__button + .lpc-button--type-3 {
	margin-left: 24px;
}

.lpc-elements-button-1__button + .lpc-button--type-3:has(~ .lp-button) {
	margin-right: 24px;
}


.lpc-elements-button-1__button + .lpc-button--type-3:has(~ .lpc-button--type-3) {
	margin-right: 16px;
}

.lpc-elements-button-1__button + .lpc-button--type-3:has(+ .lpc-button--type-2) ,
.lpc-elements-button-1__button + .lpc-button--type-3:has(+ .lpc-button--type-1) {
	margin-right: 24px;
}

[data-media-source="media-xs"] .lpc-elements-button-1__button + .lpc-button--type-3 {
	margin-left: 8px;
}

[data-media-source="media-xs"] .lpc-elements-button-1__button + .lpc-button--type-3:has(~ .lp-button) {
	margin-right: 8px;
}


[data-media-source="media-xs"] .lpc-elements-button-1__button + .lpc-button--type-3:has(~ .lpc-button--type-3) {
	margin-right: 8px;
}

[data-media-source="media-xs"] .lpc-elements-button-1__button + .lpc-button--type-3:has(+ .lpc-button--type-2) ,
[data-media-source="media-xs"] .lpc-elements-button-1__button + .lpc-button--type-3:has(+ .lpc-button--type-1) {
	margin-right: 8px;
}

[data-media-source="media-xs"] .lpc-elements-button-1__button.lpc-button--type-3 {
	margin-left: 8px;
	margin-right: 8px;
} 

.lpc-elements-button-1 .lpc-button--type-3 + .lpc-button--type-3 {
	margin-left: 16px;
}

[data-media-source="media-xs"] .lpc-elements-button-1 .lpc-button--type-3 + .lpc-button--type-3 {
	margin-left: 8px;
}


[data-media-source="media-xl"] .vertical_buttons .lpc-button--type-3:has(+ .lpc-button--type-1),
[data-media-source="media-lg"] .vertical_buttons .lpc-button--type-3:has(+ .lpc-button--type-1),
[data-media-source="media-sm"] .vertical_buttons .lpc-button--type-3:has(+ .lpc-button--type-1),
[data-media-source="media-md"] .vertical_buttons .lpc-button--type-3:has(+ .lpc-button--type-1),
[data-media-source="media-xl"] .vertical_buttons .lpc-button--type-3:has(+ .lpc-button--type-2),
[data-media-source="media-lg"] .vertical_buttons .lpc-button--type-3:has(+ .lpc-button--type-2),
[data-media-source="media-md"] .vertical_buttons .lpc-button--type-3:has(+ .lpc-button--type-2),
[data-media-source="media-sm"] .vertical_buttons .lpc-button--type-3:has(+ .lpc-button--type-2) {
	margin-bottom: 16px;
}

.vertical_buttons .lpc-button--type-1:has(+ .lpc-button--type-3),
.vertical_buttons .lpc-button--type-2:has(+ .lpc-button--type-3) {
	margin-bottom: 16px;
}

[data-media-source="media-xs"] .lpc-elements-button-1 .lpc-button--type-3:has(+ .lpc-button--type-1),
[data-media-source="media-xs"] .lpc-elements-button-1 .lpc-button--type-3:has(+ .lpc-button--type-2),
[data-media-source="media-xs"] .lpc-elements-button-1 .lpc-button--type-1:has(+ .lpc-button--type-3),
[data-media-source="media-xs"] .lpc-elements-button-1 .lpc-button--type-2:has(+ .lpc-button--type-3){
	margin-bottom: 16px;
}

.lpc-elements-button-1__buttons .lp-button:first-child.lpc-button--type-3:has(+ .lpc-button--type-3){
	margin-right: 16px;
}

.lpc-elements-button-1__buttons .lp-button:first-child.lpc-button--type-3{
	margin-right: 24px;
}

.lpc-payments-edit {
	position: relative;
}


[data-media-source="media-sm"] .lpc-button--type-1.lpc_test span,
[data-media-source="media-sm"] .lpc-button--type-2.lpc_test span,
[data-media-source="media-sm"] .lpc-button--type-3.lpc_test span {
	font-size: clamp(16px, 1em, 24px);
}

[data-media-source="media-sm"] .lpc-button--type-1.lpc_test,
[data-media-source="media-sm"] .lpc-button--type-2.lpc_test,
[data-media-source="media-sm"] .lpc-button--type-3.lpc_test {
	min-height: min(max(2em, 45px), 65px);
}

[data-media-source="media-sm"] .lpc-button--type-1.lpc_test,
[data-media-source="media-sm"] .lpc-button--type-2.lpc_test,
[data-media-source="media-sm"] .lpc-button--type-3.lpc_test {
	padding: min(max(0.8em, 8px), 16px) min(max(0.4em, 4px), 12px);
}

[data-media-source="media-xs"] .lpc-button--type-1.lpc_test span,
[data-media-source="media-xs"] .lpc-button--type-2.lpc_test span,
[data-media-source="media-xs"] .lpc-button--type-3.lpc_test span {
	font-size: clamp(16px, 1em, 24px);
}

[data-media-source="media-xs"] .lpc-button--type-1.lpc_test,
[data-media-source="media-xs"] .lpc-button--type-2.lpc_test,
[data-media-source="media-xs"] .lpc-button--type-3.lpc_test {
	min-height: min(max(2em, 45px), 65px);
}

[data-media-source="media-xs"] .lpc-button--type-1.lpc_test,
[data-media-source="media-xs"] .lpc-button--type-2.lpc_test,
[data-media-source="media-xs"] .lpc-button--type-3.lpc_test {
	padding: min(max(0.8em, 8px), 16px) min(max(0.4em, 4px), 12px);
}