[data-media-source="media-xl"] .lpc-restaurant-menu-2__wrap.splide-init .splide:not(.is-active) .lpc-restaurant-menu-2__item.two_columns {
    width: calc(((100% + 32px) / 2) - 32px);
    margin-right: 32px;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__wrap.splide-init .splide:not(.is-active) .lpc-restaurant-menu-2__item.three_columns {
    width: calc(((100% + 32px) / 3) - 32px);
    margin-right: 32px;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__wrap.splide-init .splide:not(.is-active) .lpc-restaurant-menu-2__item.four_columns {
    width: calc(((100% + 32px) / 4) - 32px);
    margin-right: 32px;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__top {
    margin: 0 0 32px;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__header + lt-highlighter + .lpc-restaurant-menu-2__description,
[data-media-source="media-xl"] .lpc-restaurant-menu-2__header + .lpc-restaurant-menu-2__description {
    margin: 28px 0 0;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__item {
    display: flex;
    flex-direction: column;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__item.four_columns .lpc-restaurant-menu-2__text {
	margin: 16px 0 0;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__item.four_columns .lpc-restaurant-menu-2__compound-top {
	flex-wrap: wrap;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__item > div:first-child {
    margin-top: 0;
}

/*[data-media-source="media-xl"] .lpc-restaurant-menu-2__item.two_columns {
    padding: 36px;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__item.three_columns {
    padding: 36px;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__item.four_columns {
    padding: 28px;
}*/

[data-media-source="media-xl"] .lpc-restaurant-menu-2__title {
    margin: 24px 0 0;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__price {
    margin: 12px 0 0;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__price > div:first-child {
    margin-top: 0;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__price-old {
    color: var(--text-color-a-05);
    text-decoration: line-through;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__price-old:hover {
    color: var(--text-color-a-05);
}

/*[data-media-source="media-xl"] .lpc-restaurant-menu-2__price-title {
    margin: 8px 0 0;
}*/

[data-media-source="media-xl"] .lpc-restaurant-menu-2__text {
    margin: 20px 0 0;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__text > p {
    margin: 0;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__compound > div:first-child {
	margin-top: 20px;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__compound-item {
    display: flex;
    flex-direction: column;
    margin: 12px 0 0;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__compound-item:first-child {
    margin-top: 0;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__compound-top {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__compound-text {
    margin: 8px 0 0;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__compound-border {
	flex: 1 1 auto;
	height: 1px;
	border-bottom: 1px dashed var(--text-color-a-01);
	margin: 0 8px 4px;
    align-self: flex-end;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__compound-price {
    flex: 0 0 auto;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__button {
    margin: auto 0 0;
    padding: 24px 0 0;
    display: flex;
    flex-direction: column;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__button .lp-button + .lp-button {
    margin: 10px 0 0;
}
[data-media-source="media-lg"] .lpc-restaurant-menu-2__wrap.splide-init .splide:not(.is-active) .lpc-restaurant-menu-2__item.two_columns {
    width: calc(((100% + 32px) / 2) - 32px);
    margin-right: 32px;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__wrap.splide-init .splide:not(.is-active) .lpc-restaurant-menu-2__item.three_columns {
    width: calc(((100% + 32px) / 3) - 32px);
    margin-right: 32px;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__wrap.splide-init .splide:not(.is-active) .lpc-restaurant-menu-2__item.four_columns {
    width: calc(((100% + 32px) / 4) - 32px);
    margin-right: 32px;
}


[data-media-source="media-lg"] .lpc-restaurant-menu-2__top {
    margin: 0 0 32px;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__header + lt-highlighter + .lpc-restaurant-menu-2__description,
[data-media-source="media-lg"] .lpc-restaurant-menu-2__header + .lpc-restaurant-menu-2__description {
    margin: 28px 0 0;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__item {
    display: flex;
    flex-direction: column;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__item.four_columns .lpc-restaurant-menu-2__text {
	margin: 16px 0 0;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__item.four_columns .lpc-restaurant-menu-2__compound-top {
	flex-wrap: wrap;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__item > div:first-child {
    margin-top: 0;
}

/*[data-media-source="media-lg"] .lpc-restaurant-menu-2__item.two_columns {
    padding: 32px;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__item.three_columns {
    padding: 32px;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__item.four_columns {
    padding: 28px;
}*/

[data-media-source="media-lg"] .lpc-restaurant-menu-2__title {
    margin: 24px 0 12px;
}

/*[data-media-source="media-lg"] .lpc-restaurant-menu-2__price {
    margin: 12px 0 0;
}*/

[data-media-source="media-lg"] .lpc-restaurant-menu-2__price-old {
    color: var(--text-color-a-05);
    text-decoration: line-through;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__price-old:hover {
    color: var(--text-color-a-05);
}

/*[data-media-source="media-lg"] .lpc-restaurant-menu-2__price-title {
    margin: 8px 0 0;
}*/

[data-media-source="media-lg"] .lpc-restaurant-menu-2__text {
    margin: 20px 0 0;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__text > p {
    margin: 0;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__compound > div:first-child {
	margin-top: 20px;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__compound-item {
    display: flex;
    flex-direction: column;
    margin: 12px 0 0;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__compound-item:first-child {
    margin-top: 0;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__compound-top {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__compound-text {
    margin: 8px 0 0;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__compound-border {
	flex: 1 1 auto;
	height: 1px;
	border-bottom: 1px dashed var(--text-color-a-01);
	margin: 0 8px 4px;
    align-self: flex-end;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__compound-price {
    flex: 0 0 auto;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__button {
    margin: auto 0 0;
    padding: 24px 0 0;
    display: flex;
    flex-direction: column;
}

[data-media-source="media-lg"] .lpc-restaurant-menu-2__button .lp-button + .lp-button {
    margin: 10px 0 0;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__wrap.splide-init .splide:not(.is-active) .lpc-restaurant-menu-2__item.two_columns {
    width: calc(((100% + 24px) / 2) - 24px);
    margin-right: 24px;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__wrap.splide-init .splide:not(.is-active) .lpc-restaurant-menu-2__item.three_columns {
    width: calc(((100% + 24px) / 2) - 24px);
    margin-right: 24px;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__wrap.splide-init .splide:not(.is-active) .lpc-restaurant-menu-2__item.four_columns {
    width: calc(((100% + 24px) / 3) - 24px);
    margin-right: 24px;
}


[data-media-source="media-md"] .lpc-restaurant-menu-2__top {
    margin: 0 0 32px;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__header + lt-highlighter + .lpc-restaurant-menu-2__description,
[data-media-source="media-md"] .lpc-restaurant-menu-2__header + .lpc-restaurant-menu-2__description {
    margin: 28px 0 0;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__item {
    display: flex;
    flex-direction: column;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__item > div:first-child {
    margin-top: 0;
}

/*[data-media-source="media-md"] .lpc-restaurant-menu-2__item.two_columns {
    padding: 28px;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__item.three_columns {
    padding: 28px;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__item.four_columns {
    padding: 28px;
}*/

[data-media-source="media-md"] .lpc-restaurant-menu-2__title {
    margin: 20px 0 0;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__price {
    margin: 12px 0 0;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__price-old {
    color: var(--text-color-a-05);
    text-decoration: line-through;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__price-old:hover {
    color: var(--text-color-a-05);
}

/*[data-media-source="media-md"] .lpc-restaurant-menu-2__price-title {
    margin: 8px 0 0;
}*/

[data-media-source="media-md"] .lpc-restaurant-menu-2__text {
    margin: 12px 0 0;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__text > p {
    margin: 0;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__compound > div:first-child {
	margin-top: 12px;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__compound-item {
    display: flex;
    flex-direction: column;
    margin: 12px 0 0;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__compound-item:first-child {
    margin-top: 0;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__compound-top {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__compound-text {
    margin: 8px 0 0;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__compound-border {
	flex: 1 1 auto;
	height: 1px;
	border-bottom: 1px dashed var(--text-color-a-01);
	margin: 0 8px 4px;
    align-self: flex-end;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__button {
    margin: auto 0 0;
    padding: 20px 0 0;
    display: flex;
    flex-direction: column;
}

[data-media-source="media-md"] .lpc-restaurant-menu-2__button .lp-button + .lp-button {
    margin: 10px 0 0;
}

[data-media-source="media-sm"] .lpc-restaurant-menu-2__wrap.splide-init .splide:not(.is-active) .lpc-restaurant-menu-2__item.two_columns {
    width: calc(((100% + 16px) / 2) - 16px);
    margin-right: 16px;
}

[data-media-source="media-sm"] .lpc-restaurant-menu-2__wrap.splide-init .splide:not(.is-active) .lpc-restaurant-menu-2__item.three_columns {
    width: calc(((100% + 16px) / 2) - 16px);
    margin-right: 16px;
}

[data-media-source="media-sm"] .lpc-restaurant-menu-2__wrap.splide-init .splide:not(.is-active) .lpc-restaurant-menu-2__item.four_columns {
    width: calc(((100% + 16px) / 2) - 16px);
    margin-right: 16px;
}


[data-media-source="media-sm"] .lpc-restaurant-menu-2__top {
    margin: 0 0 24px;
}

[data-media-source="media-sm"] .lpc-restaurant-menu-2__header + lt-highlighter + .lpc-restaurant-menu-2__description ,
[data-media-source="media-sm"] .lpc-restaurant-menu-2__header + .lpc-restaurant-menu-2__description {
    margin: 20px 0 0;
}

[data-media-source="media-sm"] .lpc-restaurant-menu-2__item {
    display: flex;
    flex-direction: column;
}

[data-media-source="media-sm"] .lpc-restaurant-menu-2__item > div:first-child {
    margin-top: 0;
}

/*[data-media-source="media-sm"] .lpc-restaurant-menu-2__item.two_columns {
    padding: 24px;
}

[data-media-source="media-sm"] .lpc-restaurant-menu-2__item.three_columns {
    padding: 24px;
}

[data-media-source="media-sm"] .lpc-restaurant-menu-2__item.four_columns {
    padding: 24px;
}*/

[data-media-source="media-sm"] .lpc-restaurant-menu-2__title {
    margin: 20px 0 0;
}

[data-media-source="media-sm"] .lpc-restaurant-menu-2__price {
    margin: 8px 0 0;
}

[data-media-source="media-sm"] .lpc-restaurant-menu-2__price-old {
    color: var(--text-color-a-05);
    text-decoration: line-through;
}

[data-media-source="media-sm"] .lpc-restaurant-menu-2__price-old:hover {
    color: var(--text-color-a-05);
}

/*[data-media-source="media-sm"] .lpc-restaurant-menu-2__price-title {
    margin: 8px 0 0;
}*/

[data-media-source="media-sm"] .lpc-restaurant-menu-2__text {
    margin: 12px 0 0;
}

[data-media-source="media-sm"] .lpc-restaurant-menu-2__text > p {
    margin: 0;
}

[data-media-source="media-sm"] .lpc-restaurant-menu-2__compound > div:first-child {
	margin-top: 12px;
}

[data-media-source="media-sm"] .lpc-restaurant-menu-2__compound-item {
    display: flex;
    flex-direction: column;
    margin: 12px 0 0;
}

[data-media-source="media-sm"] .lpc-restaurant-menu-2__compound-item:first-child {
    margin-top: 0;
}

[data-media-source="media-sm"] .lpc-restaurant-menu-2__compound-top {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
}

[data-media-source="media-sm"] .lpc-restaurant-menu-2__compound-text {
    margin: 8px 0 0;
}

[data-media-source="media-sm"] .lpc-restaurant-menu-2__compound-border {
	flex: 1 1 auto;
	height: 1px;
	border-bottom: 1px dashed var(--text-color-a-01);
	margin: 0 8px 4px;
    align-self: flex-end;
}


[data-media-source="media-sm"] .lpc-restaurant-menu-2__button {
    margin: auto 0 0;
    padding: 20px 0 0;
    display: flex;
    flex-direction: column;
}

[data-media-source="media-sm"] .lpc-restaurant-menu-2__button .lp-button + .lp-button {
    margin: 10px 0 0;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__wrap.splide-init .splide:not(.is-active) .lpc-restaurant-menu-2__item.two_columns {
    width: calc(((100% + 16px) / 1) - 16px);
    margin-right: 16px;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__wrap.splide-init .splide:not(.is-active) .lpc-restaurant-menu-2__item.three_columns {
    width: calc(((100% + 16px) / 1) - 16px);
    margin-right: 16px;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__wrap.splide-init .splide:not(.is-active) .lpc-restaurant-menu-2__item.four_columns {
    width: calc(((100% + 16px) / 1) - 16px);
    margin-right: 16px;
}


[data-media-source="media-xs"] .lpc-restaurant-menu-2__wrap .spoiler-btn-wrap.show_spoiler .spoiler-btn {
    width: 100%;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__top {
    margin: 0 0 24px;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__header + lt-highlighter + .lpc-restaurant-menu-2__description ,
[data-media-source="media-xs"] .lpc-restaurant-menu-2__header + .lpc-restaurant-menu-2__description {
    margin: 20px 0 0;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__item {
    display: flex;
    flex-direction: column;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__item > div:first-child {
    margin-top: 0;
}

/*[data-media-source="media-xs"] .lpc-restaurant-menu-2__item.two_columns {
    padding: 20px;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__item.three_columns {
    padding: 20px;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__item.four_columns {
    padding: 20px;
}*/

[data-media-source="media-xs"] .lpc-restaurant-menu-2__title {
    margin: 20px 0 0;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__price {
    margin: 4px 0 0;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__price-old {
    color: var(--text-color-a-05);
    text-decoration: line-through;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__price-old:hover {
    color: var(--text-color-a-05);
}

/*[data-media-source="media-xs"] .lpc-restaurant-menu-2__price-title {
    margin: 8px 0 0;
}*/

[data-media-source="media-xs"] .lpc-restaurant-menu-2__text {
    margin: 12px 0 0;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__text > p {
    margin: 0;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__compound > div:first-child {
	margin-top: 12px;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__compound-item {
    display: flex;
    flex-direction: column;
    margin: 12px 0 0;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__compound-item:first-child {
    margin-top: 0;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__compound-top {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__compound-text {
    margin: 8px 0 0;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__compound-border {
	flex: 1 1 auto;
	height: 1px;
	border-bottom: 1px dashed var(--text-color-a-01);
	margin: 0 8px 4px;
    align-self: flex-end;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__button {
    margin: auto 0 0;
    padding: 20px 0 0;
    display: flex;
    flex-direction: column;
}

[data-media-source="media-xs"] .lpc-restaurant-menu-2__button .lp-button + .lp-button {
    margin: 10px 0 0;
}



[data-media-source="media-xl"] .lpc-restaurant-menu-2__item--block.two_columns {
    padding: 36px;
}
[data-media-source="media-lg"] .lpc-restaurant-menu-2__item--block.two_columns {
    padding: 32px;
}
[data-media-source="media-md"] .lpc-restaurant-menu-2__item--block.two_columns {
    padding: 28px;
}
[data-media-source="media-sm"] .lpc-restaurant-menu-2__item--block.two_columns {
    padding: 24px;
}
[data-media-source="media-xs"] .lpc-restaurant-menu-2__item--block.two_columns {
    padding: 20px;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__item--block.three_columns {
    padding: 36px;
}
[data-media-source="media-lg"] .lpc-restaurant-menu-2__item--block.three_columns {
    padding: 32px;
}
[data-media-source="media-md"] .lpc-restaurant-menu-2__item--block.three_columns {
    padding: 28px;
}
[data-media-source="media-sm"] .lpc-restaurant-menu-2__item--block.three_columns {
    padding: 24px;
}
[data-media-source="media-xs"] .lpc-restaurant-menu-2__item--block.three_columns {
    padding: 20px;
}

[data-media-source="media-xl"] .lpc-restaurant-menu-2__item--block.four_columns {
    padding: 28px;
}
[data-media-source="media-lg"] .lpc-restaurant-menu-2__item--block.four_columns {
    padding: 28px;
}
[data-media-source="media-md"] .lpc-restaurant-menu-2__item--block.four_columns {
    padding: 28px;
}
[data-media-source="media-sm"] .lpc-restaurant-menu-2__item--block.four_columns {
    padding: 24px;
}
[data-media-source="media-xs"] .lpc-restaurant-menu-2__item--block.four_columns {
    padding: 20px;
}

.lpc-restaurant-menu-2__item--block {
    border: 1px solid var(--text-color-a-01);
    background-color: var(--content-background-lpc);
}

/*.lpc-restaurant-menu-2__item {
    border: 1px solid var(--text-color-a-01);
    background-color: var(--content-background-lpc);
}*/

.lpc-restaurant-menu-2__wrap.lpc_left .lpc-restaurant-menu-2__top {
    text-align: left;
}

.lpc-restaurant-menu-2__wrap.lpc_left .spoiler-btn-wrap.show_spoiler {
    text-align: left;
}

.lpc-restaurant-menu-2__wrap.lpc_center .lpc-restaurant-menu-2__top {
    text-align: center;
}

.lpc-restaurant-menu-2__wrap.lpc_center .spoiler-btn-wrap.show_spoiler {
    text-align: center;
}

.lpc-restaurant-menu-2__wrap.lpc_right .lpc-restaurant-menu-2__top {
    text-align: left;
}

.lpc-restaurant-menu-2__wrap.lpc_right .spoiler-btn-wrap.show_spoiler {
    text-align: right;
}

.lpc-restaurant-menu-2__wrap:not(.splide-init).lpc_left .lpc-restaurant-menu-2__list {
    justify-content: flex-start;
}

.lpc-restaurant-menu-2__wrap:not(.splide-init).lpc_center .lpc-restaurant-menu-2__list {
    justify-content: center;
}

.lpc-restaurant-menu-2__wrap:not(.splide-init).lpc_right .lpc-restaurant-menu-2__list {
    justify-content: flex-end;
}

.lpc-restaurant-menu-2__compound-titile.lp-selected-element, .lpc-restaurant-menu-2__compound-price.lp-selected-element {
    outline: none !important;
    outline-offset: -2px !important;
}


/*view horizontal*/
/* .lpc-restaurant-menu-2__bodys-horizontal.lpc-card--type-1,*/
 .lpc-restaurant-menu-2__bodys-horizontal-fix{
	border: 1px solid var(--text-color-a-01);
}



[data-media-source="media-xl"] ._horizontal.lpc-restaurant-menu-2__bodys.lpc-restaurant-menu-2__bodys-card,
[data-media-source="media-lg"] ._horizontal.lpc-restaurant-menu-2__bodys.lpc-restaurant-menu-2__bodys-card {
	padding: 36px;
}

[data-media-source="media-md"] ._horizontal.lpc-restaurant-menu-2__bodys.lpc-restaurant-menu-2__bodys-card {
	padding: 28px;
}

[data-media-source="media-xl"] ._horizontal .lpc-restaurant-menu-2__item,
[data-media-source="media-lg"] ._horizontal .lpc-restaurant-menu-2__item,
[data-media-source="media-md"] ._horizontal .lpc-restaurant-menu-2__item,
[data-media-source="media-sm"] ._horizontal .lpc-restaurant-menu-2__item,
[data-media-source="media-xs"] ._horizontal .lpc-restaurant-menu-2__item {
	flex-direction: row;
}

[data-media-source="media-xl"] ._horizontal .lpc-restaurant-menu-2__body-wrap,
[data-media-source="media-lg"] ._horizontal .lpc-restaurant-menu-2__body-wrap,
[data-media-source="media-md"] ._horizontal .lpc-restaurant-menu-2__body-wrap,
[data-media-source="media-sm"] ._horizontal .lpc-restaurant-menu-2__body-wrap{
	display: flex;
	width: 100%;
}

[data-media-source="media-xl"] ._horizontal .lpc-restaurant-menu-2__item ,
[data-media-source="media-lg"] ._horizontal .lpc-restaurant-menu-2__item ,
[data-media-source="media-md"] ._horizontal .lpc-restaurant-menu-2__item {
	border: 0;
}

[data-media-source="media-xs"] ._horizontal .lpc-restaurant-menu-2__body-wrap {
	display: flex;
	width: 100%;
	flex-direction: column;
}
/*._horizontal:not(.lpc-card--type-1) .lpc-restaurant-menu-2__line {
	border: none;
}*/

[data-media-source="media-xl"] ._horizontal .lpc-restaurant-menu-2__line,
[data-media-source="media-lg"] ._horizontal .lpc-restaurant-menu-2__line {
	margin: 24px auto;
}

[data-media-source="media-md"] ._horizontal .lpc-restaurant-menu-2__line {
	margin: 20px auto;
}

[data-media-source="media-sm"] ._horizontal .lpc-restaurant-menu-2__line{
	margin: 0 32px;
}

[data-media-source="media-xs"] ._horizontal .lpc-restaurant-menu-2__line {
	margin: 0 28px;
}

[data-media-source="media-sm"] ._horizontal .lpc-restaurant-menu-2__item {
	padding: 0px;
	margin-bottom: 32px;
}

[data-media-source="media-sm"] ._horizontal.lpc-card--type-1 .lpc-restaurant-menu-2__item {
	padding: 24px;
	margin-bottom: 0;
}

[data-media-source="media-xs"] ._horizontal .lpc-restaurant-menu-2__item {
	padding: 0;
	margin-bottom: 32px;
}
[data-media-source="media-xs"] ._horizontal.lpc-card--type-1 .lpc-restaurant-menu-2__item {
	padding: 20px;
	margin-bottom: 0;
}

[data-media-source="media-xl"] ._horizontal .lpc-restaurant-menu-2__item:first-child ,
[data-media-source="media-lg"] ._horizontal .lpc-restaurant-menu-2__item:first-child ,
[data-media-source="media-md"] ._horizontal .lpc-restaurant-menu-2__item:first-child {
	padding-top: 0 !important;
}

[data-media-source="media-xl"] ._horizontal .lpc-restaurant-menu-2__item:last-child,
[data-media-source="media-lg"] ._horizontal .lpc-restaurant-menu-2__item:last-child, 
[data-media-source="media-md"] ._horizontal .lpc-restaurant-menu-2__item:last-child {
	padding-bottom: 0 !important;
}
[data-media-source="media-sm"] ._horizontal .lpc-restaurant-menu-2__item:last-child,
[data-media-source="media-xs"] ._horizontal .lpc-restaurant-menu-2__item:last-child {
	margin-bottom: 0 !important;
}



[data-media-source="media-xl"] ._horizontal .lpc-restaurant-menu-2__headline ,
[data-media-source="media-lg"] ._horizontal .lpc-restaurant-menu-2__headline {
	width: 140px;
	min-width: 140px;
}

[data-media-source="media-md"] ._horizontal .lpc-restaurant-menu-2__headline {
	width: 102px;
	min-width: 102px;
}

[data-media-source="media-sm"] ._horizontal .lpc-restaurant-menu-2__headline ,
[data-media-source="media-xs"] ._horizontal .lpc-restaurant-menu-2__headline {
	width: 76px;
	min-width: 76px;
}

[data-media-source="media-xl"] ._horizontal .lpc-restaurant-menu-2__text-button,
[data-media-source="media-lg"] ._horizontal .lpc-restaurant-menu-2__text-button,
[data-media-source="media-md"] ._horizontal .lpc-restaurant-menu-2__text-button,
[data-media-source="media-sm"] ._horizontal .lpc-restaurant-menu-2__text-button {
	display: none;
}

[data-media-source="media-xs"] ._horizontal .lpc-restaurant-menu-2__text-top {
	display: none;
}

[data-media-source="media-xl"] ._horizontal .lpc-restaurant-menu-2__headline,
[data-media-source="media-lg"] ._horizontal .lpc-restaurant-menu-2__headline {
	margin-right: 32px;
}

[data-media-source="media-md"] ._horizontal .lpc-restaurant-menu-2__headline {
	margin-right: 24px;
}

[data-media-source="media-sm"] ._horizontal .lpc-restaurant-menu-2__headline,
[data-media-source="media-xs"] ._horizontal .lpc-restaurant-menu-2__headline {
	margin-right: 16px;
}

[data-media-source="media-xl"] ._horizontal .lpc-restaurant-menu-2__title-wrap,
[data-media-source="media-lg"] ._horizontal .lpc-restaurant-menu-2__title-wrap {
	margin-right: 32px;
}

[data-media-source="media-md"] ._horizontal .lpc-restaurant-menu-2__title-wrap {
	margin-right: 28px;
}

[data-media-source="media-sm"] ._horizontal .lpc-restaurant-menu-2__title-wrap {
	margin-right: 12px;
}

[data-media-source="media-xl"] ._horizontal .lpc-restaurant-menu-2__price {
	min-width: 280px;
	text-align: right;
	text-align-last: right;
	margin-left: auto;
	margin-top: 0;
}

[data-media-source="media-lg"] ._horizontal .lpc-restaurant-menu-2__price {
	min-width: 240px;
	text-align: right;
	text-align-last: right;
	margin-left: auto;
	margin-top: 0;
}

[data-media-source="media-md"] ._horizontal .lpc-restaurant-menu-2__price {
	min-width: 200px;
	text-align: right;
	text-align-last: right;
	margin-left: auto;
	margin-top: 0;
}

[data-media-source="media-sm"] ._horizontal .lpc-restaurant-menu-2__price {
	min-width: 140px;
	text-align: right;
	text-align-last: right;
	margin-left: auto;
	margin-top: 0;
}

._horizontal .lpc-restaurant-menu-2__title {
	margin-top:0;
}

[data-media-source="media-xl"] ._horizontal .lpc-restaurant-menu-2__text,
[data-media-source="media-lg"] ._horizontal .lpc-restaurant-menu-2__text,
[data-media-source="media-md"] ._horizontal .lpc-restaurant-menu-2__text,
[data-media-source="media-sm"] ._horizontal .lpc-restaurant-menu-2__text {
	margin-top: 12px;
}

[data-media-source="media-xs"] ._horizontal .lpc-restaurant-menu-2__text {
	margin-top: 8px;
}

[data-media-source="media-xs"] ._horizontal .lpc-restaurant-menu-2__price {
	margin-top: 8px;
}


/*прайс лист*/

[data-media-source="media-xl"] ._price-list  .lpc-restaurant-menu-2__item,
[data-media-source="media-lg"] ._price-list  .lpc-restaurant-menu-2__item,
[data-media-source="media-md"] ._price-list  .lpc-restaurant-menu-2__item,
[data-media-source="media-sm"] ._price-list  .lpc-restaurant-menu-2__item,
[data-media-source="media-xs"] ._price-list  .lpc-restaurant-menu-2__item {
	flex-direction: row;
	align-items: flex-start;
}

[data-media-source="media-xl"] ._price-list .lpc-restaurant-menu-2__item {
	margin-top: 40px;
}
[data-media-source="media-xl"] ._price-list.lpc-card--type-1 .lpc-restaurant-menu-2__item {
	margin-top: 32px;
}

[data-media-source="media-xl"] ._price-list .lpc-restaurant-menu-2__item:nth-child(-n+2) {
	margin-top: 0px;
}

[data-media-source="media-xl"] ._price-list .lpc-restaurant-menu-2__item.lpc-card--type-1 {
	padding: 36px;
}

[data-media-source="media-lg"] ._price-list .lpc-restaurant-menu-2__item {
	margin-top: 40px;
}

[data-media-source="media-lg"] ._price-list.lpc-card--type-1 .lpc-restaurant-menu-2__item {
	margin-top: 32px;
}

[data-media-source="media-lg"] ._price-list .lpc-restaurant-menu-2__item:nth-child(-n+2) {
	margin-top: 0px;
}



[data-media-source="media-lg"] ._price-list .lpc-restaurant-menu-2__item.lpc-card--type-1  {
	padding: 32px;
}

[data-media-source="media-md"] ._price-list .lpc-restaurant-menu-2__item {
	margin-top: 24px;
}

[data-media-source="media-md"] ._price-list .lpc-restaurant-menu-2__item:first-child {
	margin-top: 0px;
}

[data-media-source="media-md"] ._price-list .lpc-restaurant-menu-2__item.lpc-card--type-1   {
	padding: 28px;
}

[data-media-source="media-sm"] ._price-list .lpc-restaurant-menu-2__item {
	margin-top: 16px;
}

[data-media-source="media-sm"] ._price-list .lpc-restaurant-menu-2__item:first-child {
	margin-top: 0px;
}

[data-media-source="media-sm"] ._price-list .lpc-restaurant-menu-2__item.lpc-card--type-1 {
	padding: 24px;
}

[data-media-source="media-xs"] ._price-list .lpc-restaurant-menu-2__item {
	margin-top: 16px;
}

[data-media-source="media-xs"] ._price-list .lpc-restaurant-menu-2__item {
	margin-top: 0;
}

[data-media-source="media-xs"] ._price-list .lpc-restaurant-menu-2__item.lpc-card--type-1 {
	padding: 20px;
}

/*[data-media-source="media-xl"] ._price-list  .lpc-restaurant-menu-2__list,
[data-media-source="media-lg"] ._price-list  .lpc-restaurant-menu-2__list {
	margin-bottom: -32px;
}

[data-media-source="media-lg"] ._price-list  .lpc-restaurant-menu-2__list {
	margin-bottom: -24px;
}

[data-media-source="media-sm"] ._price-list  .lpc-restaurant-menu-2__list,
[data-media-source="media-xs"] ._price-list  .lpc-restaurant-menu-2__list {
	margin-bottom: -16px;
}*/


[data-media-source="media-xl"] ._price-list .lpc-restaurant-menu-2__headline ,
[data-media-source="media-lg"] ._price-list .lpc-restaurant-menu-2__headline {
	width: 140px;
	min-width: 140px;
	margin-right: 32px;
}
[data-media-source="media-lg"] ._price-list .lpc-restaurant-menu-2__headline {
	margin-bottom: 12px;
}

[data-media-source="media-md"] ._price-list .lpc-restaurant-menu-2__headline {
	width: 102px;
	min-width: 102px;
	margin-right: 24px;
}

[data-media-source="media-sm"] ._price-list .lpc-restaurant-menu-2__headline ,
[data-media-source="media-xs"] ._price-list .lpc-restaurant-menu-2__headline {
	width: 76px;
	min-width: 76px;
	margin-right: 16px;
}

[data-media-source="media-xl"] ._price-list .lpc-restaurant-menu-2__body-wrap,
[data-media-source="media-lg"] ._price-list .lpc-restaurant-menu-2__body-wrap,
[data-media-source="media-md"] ._price-list .lpc-restaurant-menu-2__body-wrap,
[data-media-source="media-sm"] ._price-list .lpc-restaurant-menu-2__body-wrap{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

[data-media-source="media-xl"] ._price-list .lpc-restaurant-menu-2__title-wrap {
	width: calc(100% - 186px);
	margin-right: 16px;
}

[data-media-source="media-xl"] ._price-list .lpc-restaurant-menu-2__title-wrap.lpc-restaurant-menu-2__title-wrap-not-price {
	width: 100%;
	margin-right: 0;
}

[data-media-source="media-lg"] ._price-list .lpc-restaurant-menu-2__title-wrap {
	margin-right: 16px;
	/*width: calc(100% - 156px);*/
}

[data-media-source="media-lg"] ._price-list .lpc-restaurant-menu-2__title-wrap.lpc-restaurant-menu-2__title-wrap-not-price {
	width: 100%;
	margin-right: 0;
}

[data-media-source="media-md"] ._price-list .lpc-restaurant-menu-2__title-wrap {
	margin-right: 16px;
	width: calc(100% - 216px);
}

[data-media-source="media-md"] ._price-list .lpc-restaurant-menu-2__title-wrap.lpc-restaurant-menu-2__title-wrap-not-price {
	width: 100%;
	margin-right: 0;
}

[data-media-source="media-sm"] ._price-list .lpc-restaurant-menu-2__title-wrap {
	margin-right: 16px;
	width: calc(100% - 176px);
}

[data-media-source="media-sm"] ._price-list .lpc-restaurant-menu-2__title-wrap.lpc-restaurant-menu-2__title-wrap-not-price {
	width: 100%;
	margin-right: 0;
}

[data-media-source="media-xl"] ._price-list .lpc-restaurant-menu-2__price {
	min-width: 170px;
	width: 170px;
	text-align: right;
	text-align-last: right;
	margin-left: auto;
	margin-top: 0;
}

[data-media-source="media-lg"] ._price-list .lpc-restaurant-menu-2__price {
/*	min-width: 140px;
	width: 140px;
	text-align: right;
	text-align-last: right;
	margin-left: auto;
	margin-top: 0;*/
}

[data-media-source="media-md"] ._price-list .lpc-restaurant-menu-2__price {
	min-width: 200px;
	width: 200px;
	text-align: right;
	text-align-last: right;
	margin-left: auto;
	margin-top: 0;
}

[data-media-source="media-sm"] ._price-list .lpc-restaurant-menu-2__price {
	min-width: 160px;
	width: 160px;
	text-align: right;
	text-align-last: right;
	margin-left: auto;
	margin-top: 0;
}

[data-media-source="media-xl"] ._price-list .lpc-restaurant-menu-2__text-top,
[data-media-source="media-lg"] ._price-list .lpc-restaurant-menu-2__text-top ,
[data-media-source="media-xs"] ._price-list .lpc-restaurant-menu-2__text-top {
	display: none;
}


[data-media-source="media-md"] ._price-list .lpc-restaurant-menu-2__text-button,
[data-media-source="media-sm"] ._price-list .lpc-restaurant-menu-2__text-button {
	display: none;
}


[data-media-source="media-xl"] ._price-list .lpc-restaurant-menu-2__title-wrap,
[data-media-source="media-lg"] ._price-list .lpc-restaurant-menu-2__title-wrap {
	margin-right: 16px;
}

[data-media-source="media-md"] ._price-list .lpc-restaurant-menu-2__title-wrap {
	margin-right: 16px;
}

[data-media-source="media-sm"] ._price-list .lpc-restaurant-menu-2__title-wrap {
	margin-right: 16px;
}

[data-media-source="media-xl"] ._price-list .lpc-restaurant-menu-2__title,
[data-media-source="media-lg"] ._price-list .lpc-restaurant-menu-2__title,
[data-media-source="media-md"] ._price-list .lpc-restaurant-menu-2__title,
[data-media-source="media-sm"] ._price-list .lpc-restaurant-menu-2__title,
[data-media-source="media-xs"] ._price-list .lpc-restaurant-menu-2__title{
	margin-top: 0;
}

[data-media-source="media-xl"] ._price-list .lpc-restaurant-menu-2__text,
[data-media-source="media-lg"] ._price-list .lpc-restaurant-menu-2__text,
[data-media-source="media-md"] ._price-list .lpc-restaurant-menu-2__text,
[data-media-source="media-sm"] ._price-list .lpc-restaurant-menu-2__text{
	margin-top: 12px;
}

[data-media-source="media-xs"] ._price-list .lpc-restaurant-menu-2__text {
	margin-top: 8px;
}


/*Vertical*/

[data-media-source="media-xl"] ._vertical .lpc-restaurant-menu-2__item {
	margin-top: 32px;
}

[data-media-source="media-xl"] ._vertical .lpc-restaurant-menu-2__item.two_columns:nth-child(-n+2),
[data-media-source="media-xl"] ._vertical .lpc-restaurant-menu-2__item.three_columns:nth-child(-n+3),
[data-media-source="media-xl"] ._vertical .lpc-restaurant-menu-2__item.four_columns:nth-child(-n+4) {
	margin-top: 0;
}

[data-media-source="media-xl"] ._vertical .lpc-restaurant-menu-2__item.lpc-card--type-1 {
	padding: 36px;
}

[data-media-source="media-lg"] ._vertical .lpc-restaurant-menu-2__item.lpc-card--type-1 {
	padding: 32px;
}

[data-media-source="media-xl"] ._vertical .lpc-restaurant-menu-2__item.lpc-card--type-1.four_columns {
	padding: 28px;
}

[data-media-source="media-lg"] ._vertical .lpc-restaurant-menu-2__item.lpc-card--type-1.four_columns {
	padding: 28px;
}


[data-media-source="media-lg"] ._vertical .lpc-restaurant-menu-2__item {
	margin-top: 32px;
}

[data-media-source="media-lg"] ._vertical .lpc-restaurant-menu-2__item.two_columns:nth-child(-n+2),
[data-media-source="media-lg"] ._vertical .lpc-restaurant-menu-2__item.three_columns:nth-child(-n+3),
[data-media-source="media-lg"] ._vertical .lpc-restaurant-menu-2__item.four_columns:nth-child(-n+4) {
	margin-top: 0px;
}

[data-media-source="media-md"] ._vertical .lpc-restaurant-menu-2__item.lpc-card--type-1 {
	padding: 28px;
}

[data-media-source="media-md"] ._vertical .lpc-restaurant-menu-2__item {
	margin-top: 24px;
}
[data-media-source="media-md"] ._vertical .lpc-restaurant-menu-2__item.two_columns:nth-child(-n+2),
[data-media-source="media-md"] ._vertical .lpc-restaurant-menu-2__item.three_columns:nth-child(-n+3),
[data-media-source="media-md"] ._vertical .lpc-restaurant-menu-2__item.four_columns:nth-child(-n+3) {
	margin-top: 0px;
}

[data-media-source="media-sm"] ._vertical .lpc-restaurant-menu-2__item {
	margin-top: 32px;
}
[data-media-source="media-sm"] ._vertical .lpc-restaurant-menu-2__item.two_columns:nth-child(-n+2),
[data-media-source="media-sm"] ._vertical .lpc-restaurant-menu-2__item.three_columns:nth-child(-n+2),
[data-media-source="media-sm"] ._vertical .lpc-restaurant-menu-2__item.four_columns:nth-child(-n+2) {
	margin-top: 0;
}

[data-media-source="media-sm"] ._vertical .lpc-restaurant-menu-2__item.lpc-card--type-1 {
	padding: 24px;
	margin-top: 16px;
}

[data-media-source="media-sm"] ._vertical .lpc-restaurant-menu-2__item.lpc-card--type-1.two_columns:nth-child(-n+2),
[data-media-source="media-sm"] ._vertical .lpc-restaurant-menu-2__item.lpc-card--type-1.three_columns:nth-child(-n+2),
[data-media-source="media-sm"] ._vertical .lpc-restaurant-menu-2__item.lpc-card--type-1.four_columns:nth-child(-n+2) {
	margin-top: 0px;
}

[data-media-source="media-xs"] ._vertical .lpc-restaurant-menu-2__item {
	margin-top: 32px;
}

[data-media-source="media-xs"] ._vertical .lpc-restaurant-menu-2__item.two_columns:nth-child(-n+1),
[data-media-source="media-xs"] ._vertical .lpc-restaurant-menu-2__item.three_columns:nth-child(-n+1),
[data-media-source="media-xs"] ._vertical .lpc-restaurant-menu-2__item.four_columns:nth-child(-n+1) {
	margin-top: 0px;
}

[data-media-source="media-xs"] ._vertical .lpc-restaurant-menu-2__item.lpc-card--type-1 {
	padding: 20px;
	margin-top: 16px;
}

[data-media-source="media-xs"] ._vertical .lpc-restaurant-menu-2__item.lpc-card--type-1.two_columns:nth-child(-n+1),
[data-media-source="media-xs"] ._vertical .lpc-restaurant-menu-2__item.lpc-card--type-1.three_columns:nth-child(-n+1),
[data-media-source="media-xs"] ._vertical .lpc-restaurant-menu-2__item.lpc-card--type-1.four_columns:nth-child(-n+1) {
	margin-top: 16px;
}


/*[data-media-source="media-xl"] ._vertical  .lpc-restaurant-menu-2__list,
[data-media-source="media-lg"] ._vertical  .lpc-restaurant-menu-2__list {
	margin-bottom: -32px;
}

[data-media-source="media-md"] ._vertical  .lpc-restaurant-menu-2__list {
	margin-bottom: -24px;
}

[data-media-source="media-sm"] ._vertical  .lpc-restaurant-menu-2__list,
[data-media-source="media-xs"] ._vertical  .lpc-restaurant-menu-2__list {
	margin-bottom: -16px;
}*/

._vertical .lpc-restaurant-menu-2__price {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

._vertical .lpc-restaurant-menu-2__price-current {
	margin-right: 10px;
}

/*VERTICAL*/
.lpc-restaurant-menu-2__line {
	position: relative;
    border-top: 1px solid var(--text-color-a-01);
}

.lpc-restaurant-menu-2__title.lpc-link-edit {
	text-decoration: none;
	display: block;
}