[data-media-source="media-xl"] .splide:not(.is-active) .lpc-video-1__carousel-item.two_columns.splide__list .lpc-video-1__carousel-mask {
	width: calc(((100% + 32px) / 2) - 32px);
	margin-right: 32px;
}
[data-media-source="media-xl"] .splide:not(.is-active) .lpc-video-1__carousel-item.three_columns .lpc-video-1__carousel-mask {
	width: calc(((100% + 32px) / 3) - 32px);
	margin-right: 32px;
}
[data-media-source="media-xl"] .splide:not(.is-active) .lpc-video-1__carousel-item.four_columns .lpc-video-1__carousel-mask {
	width: calc(((100% + 32px) / 4) - 32px);	
	margin-right: 32px;
}
[data-media-source="media-xl"] .splide:not(.is-active) .lpc-video-1__carousel-item.six_columns .lpc-video-1__carousel-mask {
	width: calc(((100% + 32px) / 6) - 32px);	
	margin-right: 32px;
}



[data-media-source="media-lg"] .splide:not(.is-active) .lpc-video-1__carousel-item.two_columns .lpc-video-1__carousel-mask {
	width: calc(((100% + 32px) / 2) - 32px);	
	margin-right: 32px;
}
[data-media-source="media-lg"] .splide:not(.is-active) .lpc-video-1__carousel-item.three_columns .lpc-video-1__carousel-mask {
	width: calc(((100% + 32px) / 3) - 32px);	
	margin-right: 32px;
}
[data-media-source="media-lg"] .splide:not(.is-active) .lpc-video-1__carousel-item.four_columns .lpc-video-1__carousel-mask {
	width: calc(((100% + 32px) / 4) - 32px);	
	margin-right: 32px;
}
[data-media-source="media-lg"] .splide:not(.is-active) .lpc-video-1__carousel-item.six_columns .lpc-video-1__carousel-mask {
	width: calc(((100% + 32px) / 3) - 32px);	
	margin-right: 32px;
}



[data-media-source="media-md"] .splide:not(.is-active) .lpc-video-1__carousel-item.two_columns .lpc-video-1__carousel-mask {
	width: calc(((100% + 24px) / 2) - 24px);	
	margin-right: 24px;
}
[data-media-source="media-md"] .splide:not(.is-active) .lpc-video-1__carousel-item.three_columns .lpc-video-1__carousel-mask {
	width: calc(((100% + 24px) / 3) - 24px);
	margin-right: 24px;
}
[data-media-source="media-md"] .splide:not(.is-active) .lpc-video-1__carousel-item.four_columns .lpc-video-1__carousel-mask {
	width: calc(((100% + 24px) / 3) - 24px);
	margin-right: 24px;
}
[data-media-source="media-md"] .splide:not(.is-active) .lpc-video-1__carousel-item.six_columns .lpc-video-1__carousel-mask {
	width: calc(((100% + 24px) / 3) - 24px);
	margin-right: 24px;
}



[data-media-source="media-sm"] .splide:not(.is-active) .lpc-video-1__carousel-item.two_columns .lpc-video-1__carousel-mask {
	width: calc(((100% + 16px) / 2) - 16px);
	margin-right: 16px;
}
[data-media-source="media-sm"] .splide:not(.is-active) .lpc-video-1__carousel-item.three_columns .lpc-video-1__carousel-mask {
	width: calc(((100% + 16px) / 2) - 16px);
	margin-right: 16px;
}
[data-media-source="media-sm"] .splide:not(.is-active) .lpc-video-1__carousel-item.four_columns .lpc-video-1__carousel-mask {
	width: calc(((100% + 16px) / 2) - 16px);	
	margin-right: 16px;
}
[data-media-source="media-sm"] .splide:not(.is-active) .lpc-video-1__carousel-item.six_columns .lpc-video-1__carousel-mask {
	width: calc(((100% + 16px) / 2) - 16px);
	margin-right: 16px;
}


[data-media-source="media-xs"] .splide:not(.is-active) .lpc-video-1__carousel-item.two_columns .lpc-video-1__carousel-mask {
	width: calc(((100% + 16px) / 1) - 16px);
	margin-right: 16px;
}
[data-media-source="media-xs"] .splide:not(.is-active) .lpc-video-1__carousel-item.three_columns .lpc-video-1__carousel-mask {
	width: calc(((100% + 16px) / 1) - 16px);	
	margin-right: 16px;
}
[data-media-source="media-xs"] .splide:not(.is-active) .lpc-video-1__carousel-item.four_columns .lpc-video-1__carousel-mask {
	width: calc(((100% + 16px) / 1) - 16px);
	margin-right: 16px;
}
[data-media-source="media-xs"] .splide:not(.is-active) .lpc-video-1__carousel-item.six_columns .lpc-video-1__carousel-mask {
	width: calc(((100% + 16px) / 1) - 16px);	
	margin-right: 16px;
}


.lpc-video-1 {
	padding: 32px 0;
}

[data-media-source="media-xs"] .lpc-video-1 , [data-media-source="media-sm"] .lpc-video-1 {
	padding: 24px 0;
}


.lpc-video-1__carousel-item:not(.splide__list)._left {
    justify-content: flex-start;
}
.lpc-video-1__carousel-item:not(.splide__list)._center {
    justify-content: center;
}
.lpc-video-1__carousel-item:not(.splide__list)._right {
    justify-content: flex-end;
}

.lpc-video-1__title, .lpc-video-1__text {
	text-align: center;
}

.lpc-video-1__description {
	margin-top: 20px;
	text-align: center;
	position: relative;
}
[data-media-source="media-lg"] .lpc-video-1__description {
	margin-top: 16px;
}
[data-media-source="media-md"] .lpc-video-1__description {
	margin-top: 16px;
}
[data-media-source="media-sm"] .lpc-video-1__description {
	margin-top: 16px;
}
[data-media-source="media-xs"] .lpc-video-1__description {
	margin-top: 12px;
}


[data-media-source="media-xl"] .lpc-video-1__carousel .two_columns .spoiler-item:nth-child(n+3) {
	display: none;
}
[data-media-source="media-lg"] .lpc-video-1__carousel .two_columns .spoiler-item:nth-child(n+3) {
	display: none;
}
[data-media-source="media-md"] .lpc-video-1__carousel .two_columns .spoiler-item:nth-child(n+3) {
	display: none;
}
[data-media-source="media-sm"] .lpc-video-1__carousel .two_columns .spoiler-item:nth-child(n+3) {
	display: none;
}
[data-media-source="media-xs"] .lpc-video-1__carousel .two_columns .spoiler-item:nth-child(n+2) {
	display: none;
}
/*margin-top*/
[data-media-source="media-xl"] .lpc-video-1__carousel .two_columns .lpc-video-1__carousel-mask:nth-child(1),
[data-media-source="media-xl"] .lpc-video-1__carousel .two_columns .lpc-video-1__carousel-mask:nth-child(2) {
	margin-top: 0;
}
[data-media-source="media-xl"] .lpc-video-1__carousel .two_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 32px;
}

[data-media-source="media-lg"] .lpc-video-1__carousel .two_columns .lpc-video-1__carousel-mask:nth-child(1),
[data-media-source="media-lg"] .lpc-video-1__carousel .two_columns .lpc-video-1__carousel-mask:nth-child(2) {
	margin-top: 0;
}
[data-media-source="media-lg"] .lpc-video-1__carousel .two_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 32px;
}

[data-media-source="media-md"] .lpc-video-1__carousel .two_columns .lpc-video-1__carousel-mask:nth-child(1),
[data-media-source="media-md"] .lpc-video-1__carousel .two_columns .lpc-video-1__carousel-mask:nth-child(2) {
	margin-top: 0;
}
[data-media-source="media-md"] .lpc-video-1__carousel .two_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 24px;
}

[data-media-source="media-sm"] .lpc-video-1__carousel .two_columns .lpc-video-1__carousel-mask:nth-child(1),
[data-media-source="media-sm"] .lpc-video-1__carousel .two_columns .lpc-video-1__carousel-mask:nth-child(2) {
	margin-top: 0;
}
[data-media-source="media-sm"] .lpc-video-1__carousel .two_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 16px;
}

[data-media-source="media-xs"] .lpc-video-1__carousel .two_columns .lpc-video-1__carousel-mask:nth-child(1) {
	margin-top: 0;
}
[data-media-source="media-xs"] .lpc-video-1__carousel .two_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 16px;
}
/*margin-top*/


[data-media-source="media-xl"] .lpc-video-1__carousel.three_columns .spoiler-item:nth-child(n+4) {
	display: none;
}
[data-media-source="media-lg"] .lpc-video-1__carousel .three_columns .spoiler-item:nth-child(n+4) {
	display: none;
}
[data-media-source="media-md"] .lpc-video-1__carousel .three_columns .spoiler-item:nth-child(n+4) {
	display: none;
}
[data-media-source="media-sm"] .lpc-video-1__carousel .three_columns .spoiler-item:nth-child(n+3) {
	display: none;
}
[data-media-source="media-xs"] .lpc-video-1__carousel .three_columns .spoiler-item:nth-child(n+2) {
	display: none;
}
/*margin-top*/
[data-media-source="media-xl"] .lpc-video-1__carousel .three_columns .lpc-video-1__carousel-mask:nth-child(1),
[data-media-source="media-xl"] .lpc-video-1__carousel .three_columns .lpc-video-1__carousel-mask:nth-child(2),
[data-media-source="media-xl"] .lpc-video-1__carousel .three_columns .lpc-video-1__carousel-mask:nth-child(3) {
	margin-top: 0;
}
[data-media-source="media-xl"] .lpc-video-1__carousel .three_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 32px;
}

[data-media-source="media-lg"] .lpc-video-1__carousel .three_columns .lpc-video-1__carousel-mask:nth-child(1),
[data-media-source="media-lg"] .lpc-video-1__carousel .three_columns .lpc-video-1__carousel-mask:nth-child(2),
[data-media-source="media-lg"] .lpc-video-1__carousel .three_columns .lpc-video-1__carousel-mask:nth-child(3) {
	margin-top: 0;
}
[data-media-source="media-lg"] .lpc-video-1__carousel .three_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 32px;
}

[data-media-source="media-md"] .lpc-video-1__carousel .three_columns .lpc-video-1__carousel-mask:nth-child(1),
[data-media-source="media-md"] .lpc-video-1__carousel .three_columns .lpc-video-1__carousel-mask:nth-child(2),
[data-media-source="media-md"] .lpc-video-1__carousel .three_columns .lpc-video-1__carousel-mask:nth-child(3) {
	margin-top: 0;
}
[data-media-source="media-md"] .lpc-video-1__carousel .three_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 24px;
}

[data-media-source="media-sm"] .lpc-video-1__carousel .three_columns .lpc-video-1__carousel-mask:nth-child(1),
[data-media-source="media-sm"] .lpc-video-1__carousel .three_columns .lpc-video-1__carousel-mask:nth-child(2) {
	margin-top: 0;
}
[data-media-source="media-sm"] .lpc-video-1__carousel .three_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 16px;
}

[data-media-source="media-xs"] .lpc-video-1__carousel .three_columns .lpc-video-1__carousel-mask:nth-child(1) {
	margin-top: 0;
}
[data-media-source="media-xs"] .lpc-video-1__carousel .three_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 16px;
}
/*margin-top*/


[data-media-source="media-xl"] .lpc-video-1__carousel .four_columns .spoiler-item:nth-child(n+5) {
	display: none;
}
[data-media-source="media-lg"] .lpc-video-1__carousel .four_columns .spoiler-item:nth-child(n+5) {
	display: none;
}
[data-media-source="media-md"] .lpc-video-1__carousel .four_columns .spoiler-item:nth-child(n+4) {
	display: none;
}
[data-media-source="media-sm"] .lpc-video-1__carousel .four_columns .spoiler-item:nth-child(n+3) {
	display: none;
}
[data-media-source="media-xs"] .lpc-video-1__carousel .four_columns .spoiler-item:nth-child(n+2) {
	display: none;
}
/*margin-top*/
[data-media-source="media-xl"] .lpc-video-1__carousel .four_columns .lpc-video-1__carousel-mask:nth-child(1),
[data-media-source="media-xl"] .lpc-video-1__carousel .four_columns .lpc-video-1__carousel-mask:nth-child(2),
[data-media-source="media-xl"] .lpc-video-1__carousel .four_columns .lpc-video-1__carousel-mask:nth-child(3),
[data-media-source="media-xl"] .lpc-video-1__carousel .four_columns .lpc-video-1__carousel-mask:nth-child(4) {
	margin-top: 0;
}
[data-media-source="media-xl"] .lpc-video-1__carousel .four_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 32px;
}

[data-media-source="media-lg"] .lpc-video-1__carousel .four_columns .lpc-video-1__carousel-mask:nth-child(1),
[data-media-source="media-lg"] .lpc-video-1__carousel .four_columns .lpc-video-1__carousel-mask:nth-child(2),
[data-media-source="media-lg"] .lpc-video-1__carousel .four_columns .lpc-video-1__carousel-mask:nth-child(3),
[data-media-source="media-lg"] .lpc-video-1__carousel .four_columns .lpc-video-1__carousel-mask:nth-child(4) {
	margin-top: 0;
}
[data-media-source="media-lg"] .lpc-video-1__carousel .four_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 32px;
}

[data-media-source="media-md"] .lpc-video-1__carousel .four_columns .lpc-video-1__carousel-mask:nth-child(1),
[data-media-source="media-md"] .lpc-video-1__carousel .four_columns .lpc-video-1__carousel-mask:nth-child(2),
[data-media-source="media-md"] .lpc-video-1__carousel .four_columns .lpc-video-1__carousel-mask:nth-child(3) {
	margin-top: 0;
}
[data-media-source="media-md"] .lpc-video-1__carousel .four_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 24px;
}

[data-media-source="media-sm"] .lpc-video-1__carousel .four_columns .lpc-video-1__carousel-mask:nth-child(1) {
	margin-top: 0;
}
[data-media-source="media-sm"] .lpc-video-1__carousel .four_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 16px;
}

[data-media-source="media-xs"] .lpc-video-1__carousel .four_columns .lpc-video-1__carousel-mask:nth-child(1),
[data-media-source="media-xs"] .lpc-video-1__carousel .four_columns .lpc-video-1__carousel-mask:nth-child(2) {
	margin-top: 0;
}
[data-media-source="media-xs"] .lpc-video-1__carousel .four_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 16px;
}
/*margin-top*/

[data-media-source="media-xl"] .lpc-video-1__carousel .six_columns .spoiler-item:nth-child(n+7) {
	display: none;
}
[data-media-source="media-lg"] .lpc-video-1__carousel .six_columns .spoiler-item:nth-child(n+7) {
	display: none;
}
[data-media-source="media-md"] .lpc-video-1__carousel .six_columns .spoiler-item:nth-child(n+5) {
	display: none;
}
[data-media-source="media-sm"] .lpc-video-1__carousel .six_columns .spoiler-item:nth-child(n+4) {
	display: none;
}
[data-media-source="media-xs"] .lpc-video-1__carousel .six_columns .spoiler-item:nth-child(n+3) {
	display: none;
}
/*margin-top*/

[data-media-source="media-xl"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(1),
[data-media-source="media-xl"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(2),
[data-media-source="media-xl"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(3),
[data-media-source="media-xl"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(4),
[data-media-source="media-xl"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(5),
[data-media-source="media-xl"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(6) {
	margin-top: 0 !important;
}
[data-media-source="media-xl"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 32px;
}

[data-media-source="media-lg"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(1),
[data-media-source="media-lg"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(2),
[data-media-source="media-lg"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(3),
[data-media-source="media-lg"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(4),
[data-media-source="media-lg"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(5),
[data-media-source="media-lg"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(6) {
	margin-top: 0 !important;
}
[data-media-source="media-lg"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 32px;
}

[data-media-source="media-md"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(1),
[data-media-source="media-md"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(2),
[data-media-source="media-md"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(3),
[data-media-source="media-md"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(4) {
	margin-top: 0 !important;
}
[data-media-source="media-md"] .lpc-video-1__carousel.six_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 24px;
}

[data-media-source="media-sm"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(1),
[data-media-source="media-sm"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(2),
[data-media-source="media-sm"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(3) {
	margin-top: 0 !important;
}
[data-media-source="media-sm"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 16px;
}

[data-media-source="media-xs"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(1),
[data-media-source="media-xs"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:nth-child(2) {
	margin-top: 0 !important;
}
[data-media-source="media-xs"] .lpc-video-1__carousel .six_columns .lpc-video-1__carousel-mask:not(.splide__slide) {
	margin-top: 16px;
}
/*margin-top*/

[data-media-source="media-xl"] .lpc-video-1__header, 
[data-media-source="media-lg"] .lpc-video-1__header, 
[data-media-source="media-md"] .lpc-video-1__header {
    margin-bottom: 32px; 
    position: relative;
}
[data-media-source="media-sm"] .lpc-video-1__header, 
[data-media-source="media-xs"] .lpc-video-1__header {
    margin-bottom: 24px; 
    position: relative;
}

[data-media-source="media-xl"] .lpc-video-1__title + .lpc-video-1__text, [data-media-source="media-lg"] .lpc-video-1__title + .lpc-video-1__text, [data-media-source="media-md"] .lpc-video-1__title + .lpc-video-1__text {
    margin-top: 28px; 
}
[data-media-source="media-sm"] .lpc-video-1__title + .lpc-video-1__text, [data-media-source="media-xs"] .lpc-video-1__title + .lpc-video-1__text {
    margin-top: 20px; 
}
[data-media-source="media-xl"] .lpc-video-1__title + lt-highlighter + .lpc-video-1__text, [data-media-source="media-lg"] .lpc-video-1__title + lt-highlighter + .lpc-video-1__text, [data-media-source="media-md"] .lpc-video-1__title + lt-highlighter + .lpc-video-1__text {
    margin-top: 28px; 
}
[data-media-source="media-sm"] .lpc-video-1__title + lt-highlighter + .lpc-video-1__text, [data-media-source="media-xs"] .lpc-video-1__title + lt-highlighter + .lpc-video-1__text {
    margin-top: 20px; 
}
/*
.lpc-video-1__container {
	overflow: hidden;
}*/



.lpc-video-container {
	width: 100%;
	height: 100%;
}
.lpc-video-poster {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.lpc-video-poster img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.lpc-video-poster-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 68px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.lpc-video-1 .lp-block-bg_item {
	border-radius: inherit;
	border: inherit;
}

.lpc-video-1__wrap-box--container {
	background-color: var(--primary-color-a-01);
}

[data-media-source="media-xl"] .lpc-video-1__wrap-box--container {
	padding: 72px;
}
[data-media-source="media-lg"] .lpc-video-1__wrap-box--container {
	padding: 64px;
}
[data-media-source="media-md"] .lpc-video-1__wrap-box--container {
	padding: 48px;
}
[data-media-source="media-sm"] .lpc-video-1__wrap-box--container {
	padding: 32px 28px;
}
[data-media-source="media-xs"] .lpc-video-1__wrap-box--container {
	padding: 24px 20px;
}

[data-media-source="media-xl"] .lpc-video-1__wrap.lpc-full-width-init .lpc-video-1__wrap-box--container {
	padding: 72px 0;
}
[data-media-source="media-lg"] .lpc-video-1__wrap.lpc-full-width-init .lpc-video-1__wrap-box--container {
	padding: 64px 0;
}
[data-media-source="media-md"] .lpc-video-1__wrap.lpc-full-width-init .lpc-video-1__wrap-box--container {
	padding: 48px 0;
}
[data-media-source="media-sm"] .lpc-video-1__wrap.lpc-full-width-init .lpc-video-1__wrap-box--container {
	padding: 32px 0;
}
[data-media-source="media-xs"] .lpc-video-1__wrap.lpc-full-width-init .lpc-video-1__wrap-box--container {
	padding: 24px 0;
}

.lpc-video-1.lpc-constructor .lpc-video-editor.site-controls {
	top: 0 !important;
	pointer-events: auto !important;
}

.lpc-video-1.lpc-constructor .lpc-video-editor {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	
	background: #1D1F21;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}
.lpc-video-1.lpc-constructor .lpc-video-editor__box {
	display: flex;
	align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 12%;
    width: 100%;
} 
.lpc-video-1.lpc-constructor .lpc-video-editor__image {
	width: 20%;
}
.lpc-video-1.lpc-constructor .lpc-video-editor__image svg {
	width: 100%;
	height: 100%;
}
.lpc-video-1.lpc-constructor .lpc-video-editor__button {
	display: inline-flex;
	align-items: center;
    background: #FFF;
    padding: 8px 14px;
    max-width: 180px;
    color: #000;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    font-family: Open Sans, sans-serif;
	gap: 10px;
	transition: all .2s linear;
	cursor: pointer;
	z-index: 1;
}

.lpc-video-1.lpc-constructor .lpc-video-editor__button:hover {
	background: #A6F5A9;
	transition: all .2s linear;
}

.lpc-video-1.lpc-constructor .lpc-video-editor__button > span {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
}

.lpc-video-1 .spoiler-btn-wrap {
	position: relative;
}