.lpc-code-block._is-cms {
    min-height: 100px;
}

.lpc-code-block__wrap._left {
	text-align: left;
}

.lpc-code-block__wrap._center {
	text-align: center;
}

.lpc-code-block__wrap._right {
	text-align: right;
}

.lpc-code-block__preview {
    width: 120px;
    height: 120px;
    -webkit-mask-image: url(/g/s3/lp/lpc.v4/images/layout_iframe_block_preview.svg);
    mask-image: url(/g/s3/lp/lpc.v4/images/layout_iframe_block_preview.svg);
    -webkit-mask-size: 120px;
    mask-size: 120px;
    mask-image-repeat: no-repeat;
    -webkit-mask-image-repeat: no-repeat;
    background: var(--text-color-a-02);
    display: block;
    margin: 0 auto;
}