@font-face { font-family: "Exo2"; font-weight: 100; font-style: normal; font-display: swap; src: url("/g/fonts/exo_2/exo2-t.woff2") format("woff2"), url("/g/fonts/exo_2/exo2-t.woff") format("woff");}
@font-face { font-family: "Exo2"; font-weight: 100; font-style: italic; font-display: swap; src: url("/g/fonts/exo_2/exo2-t-i.woff2") format("woff2"), url("/g/fonts/exo_2/exo2-t-i.woff") format("woff");}
@font-face { font-family: "Exo2"; font-weight: 200; font-style: normal; font-display: swap; src: url("/g/fonts/exo_2/exo2-e-l.woff2") format("woff2"), url("/g/fonts/exo_2/exo2-e-l.woff") format("woff");}
@font-face { font-family: "Exo2"; font-weight: 200; font-style: italic; font-display: swap; src: url("/g/fonts/exo_2/exo2-e-l-i.woff2") format("woff2"), url("/g/fonts/exo_2/exo2-e-l-i.woff") format("woff");}
@font-face { font-family: "Exo2"; font-weight: 300; font-style: normal; font-display: swap; src: url("/g/fonts/exo_2/exo2-l.woff2") format("woff2"), url("/g/fonts/exo_2/exo2-l.woff") format("woff");}
@font-face { font-family: "Exo2"; font-weight: 300; font-style: italic; font-display: swap; src: url("/g/fonts/exo_2/exo2-l-i.woff2") format("woff2"), url("/g/fonts/exo_2/exo2-l-i.woff") format("woff");}
@font-face { font-family: "Exo2"; font-weight: 400; font-style: normal; font-display: swap; src: url("/g/fonts/exo_2/exo2-r.woff2") format("woff2"), url("/g/fonts/exo_2/exo2-r.woff") format("woff");}
@font-face { font-family: "Exo2"; font-weight: 400; font-style: italic; font-display: swap; src: url("/g/fonts/exo_2/exo2-r-i.woff2") format("woff2"), url("/g/fonts/exo_2/exo2-r-i.woff") format("woff");}
@font-face { font-family: "Exo2"; font-weight: 500; font-style: normal; font-display: swap; src: url("/g/fonts/exo_2/exo2-m.woff2") format("woff2"), url("/g/fonts/exo_2/exo2-m.woff") format("woff");}
@font-face { font-family: "Exo2"; font-weight: 500; font-style: italic; font-display: swap; src: url("/g/fonts/exo_2/exo2-m-i.woff2") format("woff2"), url("/g/fonts/exo_2/exo2-m-i.woff") format("woff");}
@font-face { font-family: "Exo2"; font-weight: 600; font-style: normal; font-display: swap; src: url("/g/fonts/exo_2/exo2-s-b.woff2") format("woff2"), url("/g/fonts/exo_2/exo2-s-b.woff") format("woff");}
@font-face { font-family: "Exo2"; font-weight: 600; font-style: italic; font-display: swap; src: url("/g/fonts/exo_2/exo2-s-b-i.woff2") format("woff2"), url("/g/fonts/exo_2/exo2-s-b-i.woff") format("woff");}
@font-face { font-family: "Exo2"; font-weight: 700; font-style: normal; font-display: swap; src: url("/g/fonts/exo_2/exo2-b.woff2") format("woff2"), url("/g/fonts/exo_2/exo2-b.woff") format("woff");}
@font-face { font-family: "Exo2"; font-weight: 700; font-style: italic; font-display: swap; src: url("/g/fonts/exo_2/exo2-b-i.woff2") format("woff2"), url("/g/fonts/exo_2/exo2-b-i.woff") format("woff");}
@font-face { font-family: "Exo2"; font-weight: 800; font-style: normal; font-display: swap; src: url("/g/fonts/exo_2/exo2-e-b.woff2") format("woff2"), url("/g/fonts/exo_2/exo2-e-b.woff") format("woff");}
@font-face { font-family: "Exo2"; font-weight: 800; font-style: italic; font-display: swap; src: url("/g/fonts/exo_2/exo2-e-b-i.woff2") format("woff2"), url("/g/fonts/exo_2/exo2-e-b-i.woff") format("woff");}
@font-face { font-family: "Exo2"; font-weight: 900; font-style: normal; font-display: swap; src: url("/g/fonts/exo_2/exo2-bl.woff2") format("woff2"), url("/g/fonts/exo_2/exo2-bl.woff") format("woff");}
@font-face { font-family: "Exo2"; font-weight: 900; font-style: italic; font-display: swap; src: url("/g/fonts/exo_2/exo2-bl-i.woff2") format("woff2"), url("/g/fonts/exo_2/exo2-bl-i.woff") format("woff");}
:root {
	--color-ivlpiprnh: 255, 255, 255;
	--color-ie2c6hcw9: 29, 147, 151;
	--color-ix5kpyxoi: 29, 147, 151;
	--color-i44imlu9k: 29, 147, 151;
	--color-i9xeyzdaf: 29, 147, 151;
	--color-iihqfahji: 29, 147, 151;
	--color-ileztoocz: 29, 147, 151;
	--color-iod3qaf96: 29, 147, 151;
	--color-i811ap9bw: 10, 10, 10;
	--color-iggcufvb6: 10, 10, 10;
	--color-i1bt651a0: 10, 10, 10;
	--color-ib39kuw78: 10, 10, 10;
	--color-i92gx7stz: 10, 10, 10;
	--color-iftubuq5b: 10, 10, 10;
	--color-i0f0adk7q: 10, 10, 10;
	--color-ihz9kqk4e: 10, 10, 10;
	--color-ibz7g4zne: 10, 10, 10;
	--color-i6apas6dr: 10, 10, 10;
	--color-ijmmcodqu: 255, 255, 255;
	--color-ijzts82t3: 255, 255, 255;
	--color-iev0d4gkn: 29, 147, 151;
	--color-iag4t2n6f: 248, 248, 248;
	--color-i121828m9: 248, 248, 248;
	--color-iyndj2kdj: 248, 248, 248;
	--color-irbund3k2: 248, 248, 248;
	--color-i6gescapt: 248, 248, 248;
	--color-ihkx9oefv: 248, 248, 248;
	--color-ijevrqwnq: 248, 248, 248;
	--color-isnlsrvw9: 248, 248, 248;
	--color-if9s8o5l2: 248, 248, 248;
	--color-iqpiiw6ne: 248, 248, 248;
	--color-iw4q3uxx5: 248, 248, 248;
	--color-ixr379g6l: 248, 248, 248;
	--color-iz5b6bq72: 0, 0, 0;
	--color-ibr6gfzab: 0, 0, 0;
	--color-i8twt7scd: 238, 238, 238;
	--color-i4c19kke5: 0, 0, 0;
	--color-inzlngitn: 29, 147, 151;
	--color-impchr7p8: 51, 51, 51;
	--color-i6ikm3zq5: 221, 221, 221;
	--color-ih99v4izj: 255, 255, 255;
	--color-itm95q0xm: 51, 51, 51;
	--color-if58gc4p1: 255, 255, 255;
	--color-i33ssragw: 238, 238, 238;
	--color-igf0pbf0m: 255, 255, 255;
	--color-ijm4ojwpq: 221, 221, 221;
	--color-i3ism4bg5: 255, 255, 255;
	--color-izdbzjshq: 255, 255, 255;
	--color-ibiqgkitp: 255, 255, 255;
	--color-ivd34xfz0: 255, 255, 255;
	--color-i3q5idryj: 255, 255, 255;
	--color-icimdj5vc: 255, 255, 255;
	--color-il0cryhw1: 0, 0, 0;
	--color-ig4bas86q: 255, 255, 255;
	--color-ilzpi50nb: 29, 147, 151;
	--color-ircc44rj1: 29, 147, 151;
}

.heading--u-iked09v06 { font-size: 18px; line-height: normal; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; color: rgba(var(--color-ivlpiprnh), 1); padding-bottom: 10px; text-transform: uppercase; min-height: 38px; box-shadow: inset 0px -2px 0px 0px rgba(var(--color-ie2c6hcw9), 1) }
.list__item--u-id7bfs1ua { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; width: 32px; height: 32px; margin-left: 3px; margin-right: 3px; margin-top: 3px; margin-bottom: 3px; display: -webkit-box; display: -ms-flexbox; display: flex; justify-content: center; border-top-color: rgba(var(--color-ix5kpyxoi), 0.5); border-right-color: rgba(var(--color-i44imlu9k), 0.5); border-bottom-color: rgba(var(--color-i9xeyzdaf), 0.5); border-left-color: rgba(var(--color-iihqfahji), 0.5); border-top-style: solid; border-top-width: 1px; border-right-style: solid; border-right-width: 1px; border-bottom-style: solid; border-bottom-width: 1px; border-left-style: solid; border-left-width: 1px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px }
.list__item--u-id7bfs1ua:hover, .list__item--u-id7bfs1ua.is-hover { background-color: rgba(var(--color-iev0d4gkn), 0) }
.list__item--u-id7bfs1ua:hover .svg_image--u-ia16oicdl .path-i27976p28, .list__item--u-id7bfs1ua.is-hover .svg_image--u-ia16oicdl .path-i27976p28 { fill: rgba(var(--color-ihkx9oefv), 1) }
.list__item--u-id7bfs1ua:hover .svg_image--u-ia16oicdl .path-i5q4mk84h, .list__item--u-id7bfs1ua.is-hover .svg_image--u-ia16oicdl .path-i5q4mk84h { fill: rgba(var(--color-i121828m9), 1) }
.list__item--u-id7bfs1ua:hover .svg_image--u-ia16oicdl .path-iby11vug7, .list__item--u-id7bfs1ua.is-hover .svg_image--u-ia16oicdl .path-iby11vug7 { fill: rgba(var(--color-iag4t2n6f), 1) }
.list__item--u-id7bfs1ua:hover .svg_image--u-ia16oicdl .path-iea2egwvj, .list__item--u-id7bfs1ua.is-hover .svg_image--u-ia16oicdl .path-iea2egwvj { fill: rgba(var(--color-iyndj2kdj), 1) }
.list__item--u-id7bfs1ua:hover .svg_image--u-ia16oicdl .path-ikisim8k4, .list__item--u-id7bfs1ua.is-hover .svg_image--u-ia16oicdl .path-ikisim8k4 { fill: rgba(var(--color-ijevrqwnq), 1) }
.list__item--u-id7bfs1ua:hover .svg_image--u-ia16oicdl .path-ioacq6uz9, .list__item--u-id7bfs1ua.is-hover .svg_image--u-ia16oicdl .path-ioacq6uz9 { fill: rgba(var(--color-isnlsrvw9), 1) }
.list__item--u-id7bfs1ua:hover .svg_image--u-ia16oicdl .path-ipf5ijf6p, .list__item--u-id7bfs1ua.is-hover .svg_image--u-ia16oicdl .path-ipf5ijf6p { fill: rgba(var(--color-if9s8o5l2), 1) }
.list__item--u-id7bfs1ua:hover .svg_image--u-ia16oicdl .path-ipv8tphdx, .list__item--u-id7bfs1ua.is-hover .svg_image--u-ia16oicdl .path-ipv8tphdx { fill: rgba(var(--color-iw4q3uxx5), 1) }
.list__item--u-id7bfs1ua:hover .svg_image--u-ia16oicdl .path-iqbsi5orq, .list__item--u-id7bfs1ua.is-hover .svg_image--u-ia16oicdl .path-iqbsi5orq { fill: rgba(var(--color-i6gescapt), 1) }
.list__item--u-id7bfs1ua:hover .svg_image--u-ia16oicdl .path-iso4vzr3i, .list__item--u-id7bfs1ua.is-hover .svg_image--u-ia16oicdl .path-iso4vzr3i { fill: rgba(var(--color-irbund3k2), 1) }
.list__item--u-id7bfs1ua:hover .svg_image--u-ia16oicdl .path-iu8i4ffa9, .list__item--u-id7bfs1ua.is-hover .svg_image--u-ia16oicdl .path-iu8i4ffa9 { fill: rgba(var(--color-iqpiiw6ne), 1) }
.list__item--u-id7bfs1ua:hover .svg_image--u-ia16oicdl .path-ivwfg1xu3, .list__item--u-id7bfs1ua.is-hover .svg_image--u-ia16oicdl .path-ivwfg1xu3 { fill: rgba(var(--color-ixr379g6l), 1) }
.list--u-i4f00uxf4 { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; margin-left: 0px; margin-right: 0px; width: 100%; flex-wrap: wrap; margin-top: 0px }
.link-universal--u-ive1axutn { display: -webkit-box; display: -ms-flexbox; display: flex; cursor: pointer; text-decoration-line: none; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin-left: 0px; margin-right: 0px; width: 100%; justify-content: center }
.svg_image--u-ia16oicdl { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; vertical-align: top; justify-content: center;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 20px; width: 20px; overflow-x: hidden; overflow-y: hidden; margin-top: auto; margin-bottom: auto }
.svg_image--u-ia16oicdl > svg { flex-shrink: 0 }
.svg_image--u-ia16oicdl svg { width: 100%; height: 100% }
.svg_image--u-ia16oicdl .path-i27976p28 { fill: rgba(var(--color-ib39kuw78), 1) }
.svg_image--u-ia16oicdl .path-i5q4mk84h { fill: rgba(var(--color-iod3qaf96), 1) }
.svg_image--u-ia16oicdl .path-iby11vug7 { fill: rgba(var(--color-ileztoocz), 1) }
.svg_image--u-ia16oicdl .path-idiemn6cw { fill: rgba(var(--color-ilzpi50nb), 1) }
.svg_image--u-ia16oicdl .path-iea2egwvj { fill: rgba(var(--color-i811ap9bw), 1) }
.svg_image--u-ia16oicdl .path-ikisim8k4 { fill: rgba(var(--color-i92gx7stz), 1) }
.svg_image--u-ia16oicdl .path-ioacq6uz9 { fill: rgba(var(--color-iftubuq5b), 1) }
.svg_image--u-ia16oicdl .path-ipf5ijf6p { fill: rgba(var(--color-i0f0adk7q), 1) }
.svg_image--u-ia16oicdl .path-ipv8tphdx { fill: rgba(var(--color-ibz7g4zne), 1) }
.svg_image--u-ia16oicdl .path-iqbsi5orq { fill: rgba(var(--color-i1bt651a0), 1) }
.svg_image--u-ia16oicdl .path-iso4vzr3i { fill: rgba(var(--color-iggcufvb6), 1) }
.svg_image--u-ia16oicdl .path-iu8i4ffa9 { fill: rgba(var(--color-ihz9kqk4e), 1) }
.svg_image--u-ia16oicdl .path-ivwfg1xu3 { fill: rgba(var(--color-i6apas6dr), 1) }
.svg_image--u-ia16oicdl .path-iwxb41m8b { fill: rgba(var(--color-ircc44rj1), 1) }
.link-universal--u-ijkniagyl { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; cursor: pointer; text-decoration-line: none; margin-top: 0px; font-size: 20px; flex-shrink: 0; margin-right: 10px }
.link-universal--u-ijkniagyl:hover .text--u-i6l7lsyh3, .link-universal--u-ijkniagyl.is-hover .text--u-i6l7lsyh3 { text-decoration: none }
.text--u-iculxqhj4 { display: block; color: rgba(var(--color-ijmmcodqu), 0.9); margin-bottom: 10px }
.text--u-i6l7lsyh3 { display: block; font-size: 20px; text-decoration: none; color: rgba(var(--color-ijzts82t3), 1); flex-shrink: 0 }
.container--u-ims972zmn { width: 100%; max-width: 1200px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; position: relative; padding-left: 40px; padding-right: 40px; padding-top: 40px; padding-bottom: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; color: rgba(var(--color-iz5b6bq72), 1); cursor: auto; font-family: Exo2, sans-serif; font-size: 16px; font-style: normal; font-weight: 400; letter-spacing: normal; line-height: normal; overflow-wrap: break-word; text-align: left; text-indent: 0px; text-shadow: none; text-transform: none }
.div--u-igzh6rdv3 { width: 70%; position: relative; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; flex-shrink: 0; padding-right: 0px }
.div--u-ini514huo { width: 30%; position: relative; display: block; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; flex-shrink: 0; padding-left: 0px }
.column-menu--u-is5lff3rq { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; justify-content: space-between }
.column-menu--u-is5lff3rq .column-menu__icon, .column-menu--u-is5lff3rq .column-menu__sub_icon { background-color: rgba(var(--color-i8twt7scd), 1); width: 25px; height: 25px; flex-shrink: 0; margin-left: 10px; display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: center }
.column-menu--u-is5lff3rq .column-menu__icon { background-color: rgba(var(--color-i33ssragw), 0) }
.column-menu--u-is5lff3rq .column-menu__item { flex-shrink: 0 }
.column-menu--u-is5lff3rq .column-menu__link, .column-menu--u-is5lff3rq .column-menu__sub_link { display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: space-between; cursor: pointer; text-decoration-line: none; padding-top: 5px; padding-right: 10px; padding-bottom: 5px; padding-left: 10px; color: rgba(var(--color-ibr6gfzab), 1) }
.column-menu--u-is5lff3rq .column-menu__link { color: rgba(var(--color-igf0pbf0m), 1); font-size: 18px; text-transform: uppercase; font-weight: 400; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin-bottom: 10px }
.column-menu--u-is5lff3rq .column-menu__list { margin-top: 0px; margin-right: 40px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; list-style-type: none; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; flex-shrink: 1; flex-wrap: wrap; width: 50%;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: block }
.column-menu--u-is5lff3rq .column-menu__more_item { display: -webkit-box; display: -ms-flexbox; display: flex }
.column-menu--u-is5lff3rq .column-menu__more_link { display: -webkit-box; display: -ms-flexbox; display: flex; cursor: pointer; text-decoration-line: none; color: rgba(var(--color-ih99v4izj), 1);  -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 4px; padding-right: 10px; padding-bottom: 4px; padding-left: 10px; background-color: rgba(var(--color-itm95q0xm), 1) }
.column-menu--u-is5lff3rq .column-menu__more_list { display: none; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; list-style-type: none }
.column-menu--u-is5lff3rq .column-menu__sub_icon { background-color: rgba(var(--color-i4c19kke5), 1) }
.column-menu--u-is5lff3rq .column-menu__sub_item { vertical-align: top }
.column-menu--u-is5lff3rq .column-menu__sub_link { color: rgba(var(--color-impchr7p8), 1); background-color: rgba(var(--color-i6ikm3zq5), 1) }
.column-menu--u-is5lff3rq .column-menu__sub_list { margin-top: 0px; margin-bottom: 0px; padding-top: 10px; padding-right: 0px; padding-bottom: 10px; padding-left: 0px; list-style-type: none; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; box-shadow: inset 0px 2px 0px 0px rgba(var(--color-inzlngitn), 1); display: block }
.column-menu--u-is5lff3rq .div { display: none; position: absolute; left: 0px; top: 100%; width: auto; flex-wrap: wrap; z-index: 10 }
.column-menu--u-is5lff3rq .svg_image--u-irl84ipvr { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; vertical-align: top; justify-content: center;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 10px; width: 10px; overflow-x: hidden; overflow-y: hidden }
.column-menu--u-is5lff3rq .svg_image--u-iyzs5risc, .column-menu--u-is5lff3rq .svg_image--u-ia7lu3e2d { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; vertical-align: top; justify-content: center;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 10px; width: 10px; overflow-x: hidden; overflow-y: hidden }
.column-menu--u-is5lff3rq .column-menu__sub_list > .column-menu__sub_item { padding-left: 0px; padding-bottom: 5px; padding-top: 5px }
.column-menu--u-is5lff3rq .column-menu__sub_list > .column-menu__sub_item > .column-menu__sub_link { background-color: rgba(var(--color-ijm4ojwpq), 0); color: rgba(var(--color-i3ism4bg5), 0.8); font-size: 15px; padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex }
.column-menu--u-is5lff3rq .column-menu__sub_list > .column-menu__sub_item:hover > .column-menu__sub_link, .column-menu--u-is5lff3rq .column-menu__sub_list > .column-menu__sub_item.is-hover > .column-menu__sub_link { text-decoration: underline; color: rgba(var(--color-izdbzjshq), 1) }
.column-menu--u-is5lff3rq .column-menu__sub_list > .column-menu__sub_item.is-opened > .column-menu__sub_link { color: rgba(var(--color-ibiqgkitp), 1) }
.column-menu--u-is5lff3rq .column-menu__sub_list > .column-menu__sub_item > .column-menu__sub_link > .column-menu__sub_icon { background-color: rgba(var(--color-il0cryhw1), 0) }
.column-menu--u-is5lff3rq .column-menu__sub_list .column-menu__sub_list .column-menu__sub_list .column-menu__sub_list { display: none }
.column-menu--u-is5lff3rq .column-menu__sub_list .column-menu__sub_list .svg_image--u-ia7lu3e2d .path-iay4yeqm3 { fill: rgba(var(--color-ig4bas86q), 1) }
.column-menu--u-is5lff3rq .column-menu__sub_list .column-menu__sub_list .column-menu__sub_list .column-menu__sub_list .column-menu__sub_list .column-menu__sub_list .column-menu__sub_list { display: none }
.svg_image--u-irl84ipvr .path-iilv7fui1 { fill: rgba(var(--color-if58gc4p1), 1) }
.list__item--u-ixywmvoww { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center }
.list--u-ig8f8x5zv { display: block }
.div--u-if4aksriq { width: 100%; position: relative; display: block }
.svg_image--u-iyzs5risc .path-iay4yeqm3 { fill: rgba(var(--color-icimdj5vc), 1) }
.svg_image--u-iyzs5risc .path-in27hdiw7 { fill: rgba(var(--color-ivd34xfz0), 1) }
.svg_image--u-ia7lu3e2d .path-i36svmao4 { fill: rgba(var(--color-i3q5idryj), 1) }

@media (max-width: 991px) {
	.container--u-ims972zmn { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px }
	.div--u-igzh6rdv3 { margin-left: 0px; margin-right: 0px; width: 100%; margin-bottom: 20px }
	.div--u-ini514huo { margin-left: 0px; margin-right: 0px; width: 100% }
	.div--u-if4aksriq { display: -webkit-box; display: -ms-flexbox; display: flex; flex-wrap: nowrap; justify-content: space-between; padding-top: 10px }
	.text--u-iculxqhj4 { -webkit-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; flex-shrink: 1; padding-right: 30px }
	.list--u-i4f00uxf4 { width: auto; margin-top: 0px; margin-left: 0px }
	.list__item--u-ixywmvoww { padding-right: 30px }
	.link-universal--u-ijkniagyl { margin-top: 0px }
}

@media (max-width: 767px) {
	.heading--u-iked09v06 { padding-bottom: 10px }
	.link-universal--u-ijkniagyl { margin-top: 0px }
	.column-menu--u-is5lff3rq .column-menu__item { margin-bottom: 10px }
	.column-menu--u-is5lff3rq .column-menu__list { display: block; width: 100% }
	.column-menu--u-is5lff3rq .column-menu__sub_list { display: block }
	.column-menu--u-is5lff3rq .column-menu__sub_list .column-menu__sub_list .column-menu__sub_list .column-menu__sub_list { display: none }
	.div--u-igzh6rdv3 { margin-bottom: 10px }
	.div--u-if4aksriq { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column }
	.text--u-iculxqhj4 { padding-right: 0px; margin-bottom: 10px }
	.list--u-ig8f8x5zv { margin-bottom: 10px }
	.container--u-ims972zmn { padding-top: 20px; padding-right: 20px; padding-left: 20px; padding-bottom: 20px }
}

@media (max-width: 479px) {
	.heading--u-iked09v06 { padding-bottom: 12px }
}