
:root {
	--color-ia70fkip5: 29, 147, 151;
	--color-iube6smng: 255, 255, 255;
	--color-ie8w0wft2: 0, 0, 0;
	--color-iws7fta77: 29, 147, 151;
	--color-ikf51brtc: 29, 147, 151;
	--color-iky7390ea: 0, 0, 0;
	--color-iwibk67pj: 255, 253, 253;
	--color-ife7gyv0g: 255, 255, 255;
	--color-iaarsedhm: 0, 0, 0;
	--image-ipm8gk9qu: url("/d/tpl25_db.svg");
	--color-injeujqvd: 0, 0, 0;
	--color-iz6n81z5x: 0, 0, 0;
	--color-iysb6grux: 255, 255, 255;
	--color-iq27p5urz: 255, 255, 255;
	--color-i8x3c7a6s: 255, 255, 255;
	--color-ib5731pg0: 255, 255, 255;
	--color-ijxywdoqg: 255, 255, 255;
	--color-ink7535rv: 255, 255, 255;
	--color-iq3d6cozs: 0, 0, 0;
	--image-imjqqlie0: url("/d/tpl25_db.svg");
	--color-ikf71o793: 255, 255, 255;
	--color-iya5xv5hp: 255, 255, 255;
	--color-iuyew2f7l: 255, 255, 255;
	--color-ii2glpkde: 255, 255, 255;
	--color-iespc25i1: 255, 255, 255;
	--color-iejcipot1: 255, 255, 255;
}

.side-panel--u-i99upox8d { position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 10; pointer-events: none; display: none }
.side-panel__button-open--u-ikyssra2o { width: 40px; min-height: 40px; background-color: rgba(var(--color-ia70fkip5), 1); cursor: pointer; -webkit-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; flex-shrink: 0; margin-left: 0px; pointer-events: auto; display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: center; margin-right: auto }
.svg_image--u-i4d5mmjmk { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; vertical-align: top; justify-content: center;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 20px; height: 20px; overflow-x: hidden; overflow-y: hidden }
.svg_image--u-i4d5mmjmk .path-i5249oq42 { fill: rgba(var(--color-iwibk67pj), 1) }
.svg_image--u-ir9ju8s0a { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; vertical-align: top; justify-content: center;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 20px; height: 20px; overflow-x: hidden; overflow-y: hidden }
.svg_image--u-ir9ju8s0a .path-i6k6o6ynk { fill: rgba(var(--color-ife7gyv0g), 1) }
.side-panel__content--u-ijridu4vd { display: none; position: fixed; top: 0px; bottom: 0px; right: auto; width: 320px; background-color: rgba(var(--color-iube6smng), 1); box-shadow: 0px 0px 15px 0px rgba(var(--color-ie8w0wft2), 0.5); transform: none; pointer-events: auto; left: 0px }
.side-panel__button-close--u-icys5gy4e { position: absolute; z-index: 1; right: auto; top: 0px; font-size: 0px; width: 40px; min-height: 40px; background-color: rgba(var(--color-iws7fta77), 1); cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: center; left: 100% }
.side-panel__content-inner--u-iybhpao8s { overflow-y: auto; max-height: 100%; min-height: 100%; position: relative; z-index: 0; background-color: rgba(var(--color-ikf51brtc), 1); padding-left: 30px; padding-right: 30px; padding-top: 50px; padding-bottom: 50px }
.side-panel__mask--u-i3vy2xc4o { display: none; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; background-color: rgba(var(--color-iky7390ea), 0.5); transform: none; pointer-events: auto }
.ver-menu--u-i3btoe5jz { position: relative; width: 100%; margin-left: 0px; margin-right: 0px }
.ver-menu--u-i3btoe5jz .ver-menu__icon { width: 25px; height: 25px; flex-shrink: 0; margin-left: 10px; background-image: var(--image-ipm8gk9qu); background-repeat: no-repeat; background-position: center center; background-size: 10.50px auto; background-attachment: scroll; transition-property: all; transition-duration: 300ms; transition-delay: 0ms; transition-timing-function: ease }
.ver-menu--u-i3btoe5jz .ver-menu__link, .ver-menu--u-i3btoe5jz .ver-menu__sub_link { display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: space-between; cursor: pointer; text-decoration-line: none; padding-top: 5px; padding-right: 10px; padding-bottom: 5px; padding-left: 10px; color: rgba(var(--color-iaarsedhm), 1) }
.ver-menu--u-i3btoe5jz .ver-menu__link { color: rgba(var(--color-iysb6grux), 0.8); font-size: 17px; padding-top: 8px; padding-bottom: 8px }
.ver-menu--u-i3btoe5jz .ver-menu__list { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; list-style-type: none }
.ver-menu--u-i3btoe5jz .ver-menu__sub_icon { background-color: rgba(var(--color-injeujqvd), 1); width: 25px; height: 25px; flex-shrink: 0; margin-left: 10px }
.ver-menu--u-i3btoe5jz .ver-menu__sub_item { vertical-align: top }
.ver-menu--u-i3btoe5jz .ver-menu__sub_link { cursor: pointer; text-decoration-line: none; padding-top: 5px; padding-right: 10px; padding-bottom: 5px; padding-left: 10px; color: rgba(var(--color-iz6n81z5x), 1) }
.ver-menu--u-i3btoe5jz .ver-menu__sub_list { display: none; z-index: 10; list-style-type: none; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px }
.ver-menu--u-i3btoe5jz .ver-menu__item:hover .ver-menu__link, .ver-menu--u-i3btoe5jz .ver-menu__item.is-hover .ver-menu__link { color: rgba(var(--color-iq27p5urz), 1); text-decoration: underline }
.ver-menu--u-i3btoe5jz .ver-menu__item:active .ver-menu__link, .ver-menu--u-i3btoe5jz .ver-menu__item.is-active .ver-menu__link { color: rgba(var(--color-i8x3c7a6s), 1); text-decoration: underline }
.ver-menu--u-i3btoe5jz .ver-menu__item:focus .ver-menu__link, .ver-menu--u-i3btoe5jz .ver-menu__item.is-focus .ver-menu__link { color: rgba(var(--color-ib5731pg0), 1); text-decoration: underline }
.ver-menu--u-i3btoe5jz .ver-menu__item.is-current .ver-menu__link { color: rgba(var(--color-ink7535rv), 1) }
.ver-menu--u-i3btoe5jz .ver-menu__item.is-opened .ver-menu__icon { transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg) }
.ver-menu--u-i3btoe5jz .ver-menu__item.is-opened .ver-menu__link { color: rgba(var(--color-ijxywdoqg), 1) }
.ver-menu--u-i3btoe5jz .ver-menu__sub_list > .ver-menu__sub_item > .ver-menu__sub_link { color: rgba(var(--color-ikf71o793), 0.8); font-size: 15px }
.ver-menu--u-i3btoe5jz .ver-menu__sub_list > .ver-menu__sub_item > .ver-menu__sub_link > .ver-menu__sub_icon { background-color: rgba(var(--color-iq3d6cozs), 0); background-image: var(--image-imjqqlie0); background-repeat: no-repeat; background-position: center center; background-size: 8.40px auto; background-attachment: scroll; transition-property: all; transition-duration: 300ms; transition-delay: 0ms; transition-timing-function: ease }
.ver-menu--u-i3btoe5jz .ver-menu__sub_list .ver-menu__sub_list > .ver-menu__sub_item:hover > .ver-menu__sub_link, .ver-menu--u-i3btoe5jz .ver-menu__sub_list .ver-menu__sub_list > .ver-menu__sub_item.is-hover > .ver-menu__sub_link { color: rgba(var(--color-iya5xv5hp), 1); text-decoration: underline }
.ver-menu--u-i3btoe5jz .ver-menu__sub_list .ver-menu__sub_list > .ver-menu__sub_item:active > .ver-menu__sub_link, .ver-menu--u-i3btoe5jz .ver-menu__sub_list .ver-menu__sub_list > .ver-menu__sub_item.is-active > .ver-menu__sub_link { color: rgba(var(--color-iuyew2f7l), 1); text-decoration: underline }
.ver-menu--u-i3btoe5jz .ver-menu__sub_list .ver-menu__sub_list > .ver-menu__sub_item:focus > .ver-menu__sub_link, .ver-menu--u-i3btoe5jz .ver-menu__sub_list .ver-menu__sub_list > .ver-menu__sub_item.is-focus > .ver-menu__sub_link { color: rgba(var(--color-ii2glpkde), 1); text-decoration: underline }
.ver-menu--u-i3btoe5jz .ver-menu__sub_list .ver-menu__sub_list > .ver-menu__sub_item.is-current > .ver-menu__sub_link { color: rgba(var(--color-iejcipot1), 1) }
.ver-menu--u-i3btoe5jz .ver-menu__sub_list .ver-menu__sub_list > .ver-menu__sub_item.is-opened > .ver-menu__sub_link { color: rgba(var(--color-iespc25i1), 1) }
.ver-menu--u-i3btoe5jz .ver-menu__sub_list .ver-menu__sub_list > .ver-menu__sub_item.is-opened > .ver-menu__sub_link > .ver-menu__sub_icon { transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg) }

@media (max-width: 991px) {
	.side-panel--u-i99upox8d { display: block }
}

@media (max-width: 767px) {
	.side-panel--u-i99upox8d { display: block }
	.side-panel__content-inner--u-iybhpao8s { padding-top: 40px; padding-bottom: 40px }
}

@media (max-width: 479px) {
	.side-panel--u-i99upox8d { display: block }
	.side-panel__content--u-ijridu4vd { width: 280px }
	.side-panel__content-inner--u-iybhpao8s { padding-left: 20px; padding-right: 20px }
}