.lpc-text-sticky-1__row {
	 display: flex;
	 position: relative;
	 flex-direction: row;
	 align-items: flex-start;
}
 .lpc-text-sticky-1__row._reverse {
	 flex-direction: row-reverse;
}
 .lpc-text-sticky-1__row._align-center {
	 align-items: center;
}
 .lpc-text-sticky-1__row._align-center .lpc-text-sticky-1__body-wrap, .lpc-text-sticky-1__row._align-center .lpc-text-sticky-1__photos-wrap {
	 top: 32px;
	 bottom: 32px;
}
 .lpc-text-sticky-1__row._align-end {
	 align-items: flex-end;
}
 .lpc-text-sticky-1__row._align-end .lpc-text-sticky-1__body-wrap, .lpc-text-sticky-1__row._align-end .lpc-text-sticky-1__photos-wrap {
	 top: auto;
	 bottom: 32px;
}
.lpc-sticky-style {
	position: sticky;
	top: 32px;
	bottom: 0;
	display: block;
}

[data-media-source="media-sm"] .lpc-sticky-style,
[data-media-source="media-xs"] .lpc-sticky-style {
	top: 0px;
} 

.lpc-text-sticky-1__photos-wrap img {
	max-width: 100%;
}
[data-media-source="media-xl"] .lpc-text-sticky-1__title, 
[data-media-source="media-lg"] .lpc-text-sticky-1__title, 
[data-media-source="media-md"] .lpc-text-sticky-1__title {
	 margin-bottom: 24px;
}
[data-media-source="media-sm"] .lpc-text-sticky-1__title {
	 margin-bottom: 16px;
}
[data-media-source="media-xs"] .lpc-text-sticky-1__title {
	 margin-bottom: 8px;
}
[data-media-source="media-sm"] .lpc-text-sticky-1__body-small.lpc-text-sticky-1__body-wrap {
	 order: 2;
}
 [data-media-source="media-sm"] .lpc-text-sticky-1__body-wrap, [data-media-source="media-sm"] .lpc-text-sticky-1__photos-wrap {
	 position: static;
}
 [data-media-source="media-sm"] .lpc-text-sticky-1__photos {
	 margin-bottom: 16px;
}
[data-media-source="media-xs"] .lpc-text-sticky-1__body-wrap {
	 order: 2;
}
 [data-media-source="media-xs"] .lpc-text-sticky-1__body-wrap, [data-media-source="media-xs"] .lpc-text-sticky-1__photos-wrap {
	 position: static;
}
 [data-media-source="media-xs"] .lpc-text-sticky-1__photos {
	 margin-bottom: 16px;
}

.lpc-text-sticky-1__photos .lpc-block__img-inner{
	overflow: inherit;
}

.lpc-text-sticky-1__photo {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


.lpc-text-sticky-1__buttons-wrapper {
	margin: 32px 0 0;
	display: flex;
	flex-wrap: wrap;
}

[data-media-source="media-sm"] .lpc-text-sticky-1__buttons-wrapper {
	margin: 24px 0 0;
}

[data-media-source="media-xs"] .lpc-text-sticky-1__buttons-wrapper,
[data-media-source="media-sm"] .lpc-text-sticky-1__buttons-wrapper {
	margin: 16px 0 0;
}

.lpc-text-sticky-1__buttons-wrapper .lp-button {
	margin-bottom: 10px;
	margin-right: 12px;
}

.lpc-text-sticky-1__buttons-wrapper .lp-button:has(+ .lpc-button--type-3) {
	margin-right: 24px;
}

.lpc-text-sticky-1__buttons-wrapper .lpc-button--type-3 {
	margin-right: 24px;
}

[data-media-source="media-xs"] .lpc-text-sticky-1__buttons-wrapper .lp-button,
[data-media-source="media-md"] .lpc-text-sticky-1__body-small .lpc-text-sticky-1__buttons-wrapper .lp-button {
	width: 100%;
	margin-right: 0px;
}
[data-media-source="media-xs"] .lpc-text-sticky-1__buttons-wrapper .lp-button:last-child ,
[data-media-source="media-md"] .lpc-text-sticky-1__body-small .lpc-text-sticky-1__buttons-wrapper .lp-button:last-child {
	margin-bottom: 0px;
}

.lpc-text-sticky-1__wrap--block {
	border: 1px solid var(--text-color-a-01);
}

.lpc-text-sticky-1__container--container {
	background-color: var(--primary-color-a-01);
}

/* =================================== =================================== */

.lpc-text-sticky-2 {
	 padding: 32px 0;
}
 .lpc-text-sticky-2__row {
	 position: relative;
}
 .lpc-text-sticky-2__row._reverse {
	 flex-direction: row-reverse;
}

.lpc-text-sticky-2__body {
	display: flex;
	align-items: flex-start;
	height: 100%;
}

.lpc-text-sticky-2__body._align-center {
	 align-items: center;
}
.lpc-text-sticky-2__body._align-end {
	 align-items: flex-end;
}

.lpc-text-sticky-2__video-wrap {
	overflow: hidden;
}

.lpc-sticky-style {
	position: sticky;
	top: 32px;
	bottom: 0;
	display: block;
}

[data-media-source="media-sm"] .lpc-sticky-style,
[data-media-source="media-xs"] .lpc-sticky-style {
	position: static;
	top: 0px;
} 

[data-media-source="media-xl"] .lpc-text-sticky-2__title, 
[data-media-source="media-lg"] .lpc-text-sticky-2__title, 
[data-media-source="media-md"] .lpc-text-sticky-2__title {
	 margin-bottom: 24px;
}
[data-media-source="media-sm"] .lpc-text-sticky-2__title {
	 margin-bottom: 16px;
}
[data-media-source="media-xs"] .lpc-text-sticky-2__title {
	 margin-bottom: 8px;
}
 [data-media-source="media-sm"] .lpc-text-sticky-2 {
	 padding: 24px 0;
}
 [data-media-source="media-sm"] .lpc-text-sticky-2__body-small.lpc-text-sticky-2__body-wrap {
	 order: 2;
}
 [data-media-source="media-sm"] .lpc-text-sticky-2__body-wrap, 
 [data-media-source="media-sm"] .lpc-text-sticky-2__video {
	 position: static;
}
 [data-media-source="media-sm"] .lpc-text-sticky-2__video-wrap {
	 margin-bottom: 16px;
}
 [data-media-source="media-xs"] .lpc-text-sticky-2 {
	 padding: 24px 0;
}
 [data-media-source="media-xs"] .lpc-text-sticky-2__body-wrap {
	 order: 2;
}
 [data-media-source="media-xs"] .lpc-text-sticky-2__body-wrap, 
 [data-media-source="media-xs"] .lpc-text-sticky-2__video {
	 position: static;
}
 [data-media-source="media-xs"] .lpc-text-sticky-2__video-wrap {
	 margin-bottom: 16px;
}

.lpc-text-sticky-2__subtitle {
	margin-top: 16px;
	text-align: center;
}

[data-media-source="media-md"] .lpc-text-sticky-2__subtitle, 
[data-media-source="media-sm"] .lpc-text-sticky-2__subtitle, 
[data-media-source="media-xs"] .lpc-text-sticky-2__subtitle {
	margin-top: 12px;
}

.lpc-text-sticky-2__buttons-wrapper {
	margin: 32px 0 0;
	display: flex;
	flex-wrap: wrap;
}

[data-media-source="media-sm"] .lpc-text-sticky-2__buttons-wrapper {
	margin: 24px 0 0;
}

[data-media-source="media-xs"] .lpc-text-sticky-2__buttons-wrapper,
[data-media-source="media-sm"] .lpc-text-sticky-2__buttons-wrapper {
	margin: 16px 0 0;
}

.lpc-text-sticky-2__buttons-wrapper .lp-button {
	margin-bottom: 10px;
	margin-right: 12px;
}

.lpc-text-sticky-2__buttons-wrapper .lp-button:has(+ .lpc-button--type-3) {
	margin-right: 24px;
}

.lpc-text-sticky-2__buttons-wrapper .lpc-button--type-3 {
	margin-right: 24px;
}

[data-media-source="media-xs"] .lpc-text-sticky-2__buttons-wrapper .lp-button,
[data-media-source="media-md"] .lpc-text-sticky-2__body-small .lpc-text-sticky-2__buttons-wrapper .lp-button {
	width: 100%;
	margin-right: 0px;
}
[data-media-source="media-xs"] .lpc-text-sticky-2__buttons-wrapper .lp-button:last-child ,
[data-media-source="media-md"] .lpc-text-sticky-2__body-small .lpc-text-sticky-2__buttons-wrapper .lp-button:last-child {
	margin-bottom: 0px;
}

.lpc-text-sticky-2__body--block {
	border: 1px solid var(--text-color-a-01);
}

[data-media-source="media-xl"] .lpc-text-sticky-2__container--container {
	padding: 72px;
	background: var(--primary-color-a-01);
}
[data-media-source="media-lg"] .lpc-text-sticky-2__container--container {
	padding: 64px;
	background: var(--primary-color-a-01);
}
[data-media-source="media-md"] .lpc-text-sticky-2__container--container {
	padding: 48px;
	background: var(--primary-color-a-01);
}
[data-media-source="media-sm"] .lpc-text-sticky-2__container--container {
	padding: 32px 28px;
	background: var(--primary-color-a-01);
}
[data-media-source="media-xs"] .lpc-text-sticky-2__container--container {
	padding: 24px 20px;
	background: var(--primary-color-a-01);
}

.lpc-text-sticky-2 .lpc-video-container {
	width: 100%;
	height: 100%;
}
.lpc-text-sticky-2 .lpc-video-poster {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.lpc-text-sticky-2 .lpc-video-poster img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.lpc-text-sticky-2 .lpc-video-poster-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 68px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}



.lpc-text-sticky-2.lpc-constructor .lpc-video-editor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	background: #1D1F21;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}
.lpc-text-sticky-2.lpc-constructor .lpc-video-editor__box {
	display: flex;
	align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 12%;
    width: 100%;
}
.lpc-text-sticky-2.lpc-constructor .lpc-video-editor__image {
	width: 20%;
}
.lpc-text-sticky-2.lpc-constructor .lpc-video-editor__image svg {
	width: 100%;
	height: 100%;
}
.lpc-text-sticky-2.lpc-constructor .lpc-video-editor__button {
	display: inline-flex;
	align-items: center;
    background: #FFF;
    padding: 8px 14px;
    max-width: 180px;
    color: #000;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    font-family: Open Sans, sans-serif;
    transition: all .2s linear;
	gap: 10px;
}

.lpc-text-sticky-2.lpc-constructor .lpc-video-editor__button:hover {
	background: #A6F5A9;
	transition: all .2s linear;
}

.lpc-text-sticky-2.lpc-constructor .lpc-video-editor__button > span {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
}

.lp-video-block-wrappper {
	background-color: #000;
}

[data-media-source="media-xl"] .lpc-text-sticky-2__body--block {
	background: var(--content-background-lpc);
}
[data-media-source="media-lg"] .lpc-text-sticky-2__body--block {
	background: var(--content-background-lpc);
}
[data-media-source="media-md"] .lpc-text-sticky-2__body--block {
	background: var(--content-background-lpc);
}
[data-media-source="media-sm"] .lpc-text-sticky-2__body--block {
	background: var(--content-background-lpc);
}
[data-media-source="media-xs"] .lpc-text-sticky-2__body--block {
	background: var(--content-background-lpc);
}

.lpc-text-sticky-1__wrap--bg {
	background: var(--content-background-lpc);
}


.lpc-text-sticky-2 .lg-video-object {
	position: relative;
	z-index: 1;
}
.lpc-text-sticky-2 .js-lp-play-video {
	pointer-events: none;
	z-index: 1;
}

.lpc-text-sticky-2__body-wrap.lpc-col-4-xl .lp-button {
 	flex: 1 1 auto;
}