.lpc-features-1__wrap-box--container .lp-block-bg_item {
	border-radius: inherit;
}


.lpc-features-1__title + * {
	margin-top: 28px;
}

[data-media-source="media-xs"] .lpc-features-1__title + * , 
[data-media-source="media-sm"] .lpc-features-1__title + * {
	margin-top: 20px;
}

.lpc-features-1__header {
	margin-bottom: 32px;
}

[data-media-source="media-xs"] .lpc-features-1__header, 
[data-media-source="media-sm"] .lpc-features-1__header {
	margin-bottom: 24px;
}

.lpc-features-1__item-content {
	width: 100%;
}

.lpc-features-1__item-content-card {
	border: 1px solid var(--text-color-a-01);
}

.lpc-features-1__item-content > div:last-child {
	margin-bottom: 0;
}

.lpc-features-1__items._left {
	justify-content: flex-start;
}
.lpc-features-1__items._center {
	justify-content: center;
}
.lpc-features-1__items._right {
	justify-content: flex-end;
}

.lpc-features-1__item {
	display: flex;
}

[data-media-source="media-xl"] .four_columns .lpc-features-1__item:nth-child(-n+4) .lpc-features-1__item-content,
[data-media-source="media-lg"] .four_columns .lpc-features-1__item:nth-child(-n+4) .lpc-features-1__item-content,
[data-media-source="media-md"] .four_columns .lpc-features-1__item:nth-child(-n+3) .lpc-features-1__item-content,
[data-media-source="media-sm"] .four_columns .lpc-features-1__item:nth-child(-n+2) .lpc-features-1__item-content,
[data-media-source="media-xs"] .four_columns .lpc-features-1__item:nth-child(-n+1) .lpc-features-1__item-content{
	margin-top: 0px;
}

[data-media-source="media-xl"] .three_columns .lpc-features-1__item:nth-child(-n+3) .lpc-features-1__item-content,
[data-media-source="media-lg"] .three_columns .lpc-features-1__item:nth-child(-n+3) .lpc-features-1__item-content,
[data-media-source="media-md"] .three_columns .lpc-features-1__item:nth-child(-n+2) .lpc-features-1__item-content,
[data-media-source="media-sm"] .three_columns .lpc-features-1__item:nth-child(-n+2) .lpc-features-1__item-content,
[data-media-source="media-xs"] .three_columns .lpc-features-1__item:nth-child(-n+1) .lpc-features-1__item-content{
	margin-top: 0px;
}

[data-media-source="media-xl"] .two_columns .lpc-features-1__item:nth-child(-n+2) .lpc-features-1__item-content,
[data-media-source="media-lg"] .two_columns .lpc-features-1__item:nth-child(-n+2) .lpc-features-1__item-content,
[data-media-source="media-md"] .two_columns .lpc-features-1__item:nth-child(-n+2) .lpc-features-1__item-content,
[data-media-source="media-sm"] .two_columns .lpc-features-1__item:nth-child(-n+2) .lpc-features-1__item-content,
[data-media-source="media-xs"] .two_columns .lpc-features-1__item:nth-child(-n+1) .lpc-features-1__item-content {
	margin-top: 0px;
}

[data-media-source="media-xl"] .one_columns .lpc-features-1__item:nth-child(-n+1) .lpc-features-1__item-content,
[data-media-source="media-lg"] .one_columns .lpc-features-1__item:nth-child(-n+1) .lpc-features-1__item-content,
[data-media-source="media-md"] .one_columns .lpc-features-1__item:nth-child(-n+1) .lpc-features-1__item-content,
[data-media-source="media-sm"] .one_columns .lpc-features-1__item:nth-child(-n+1) .lpc-features-1__item-content,
[data-media-source="media-xs"] .one_columns .lpc-features-1__item:nth-child(-n+1) .lpc-features-1__item-content{
	margin-top: 0px;
}


.lpc-features-1__item-title {
	margin-bottom: 4px;
}

[data-media-source="media-xs"] .lpc-features-1__item-title {
	margin-bottom: 0px;
}

.lpc-features-1__item-subtitle {
	margin-bottom: 16px;
}

[data-media-source="media-xs"] .lpc-features-1__item-subtitle {
	margin-bottom: 12px;
}

.lpc-features-1__wrap-box--container {
	background-color: var(--primary-color-a-01);
}

.lpc-features-1__item-content--bg {
	background: var(--content-background-lpc);
	border: none;
}