.lpc-features-2__title + * {
	margin-top: 28px;
}

[data-media-source="media-xs"] .lpc-features-2__title + * , 
[data-media-source="media-sm"] .lpc-features-2__title + * {
	margin-top: 20px;
}

.lpc-features-2__header {
	margin-bottom: 32px;
}

.lpc-features-2__header._center {
	text-align: center;
}

[data-media-source="media-xs"] .lpc-features-2__header, 
[data-media-source="media-sm"] .lpc-features-2__header {
	margin-bottom: 24px;
}

.lpc-features-2__item-content {
	width: 100%;
	display:  flex;
	flex-direction: column;
}

.lpc-features-2__item-content-card {
	border: 1px solid var(--text-color-a-01);
}

.lpc-features-2__item-content._a_i_center {
	text-align: center;
}

.lpc-features-2__item-content._a_i_center .lpc-features-2__item-image {
	align-self: center;
}

.lpc-features-2__item-content > div:last-child,
.lpc-features-2__item-holder > div:last-child {
	margin-bottom: 0;
}

.lpc-features-2__items._left {
	justify-content: flex-start;
}
.lpc-features-2__items._center {
	justify-content: center;
}
.lpc-features-2__items._right {
	justify-content: flex-end;
}

.lpc-features-2__item {
	display: flex;
}

[data-media-source="media-xl"] .four_columns.lpc-features-2__item:nth-child(-n+4),
[data-media-source="media-lg"] .four_columns.lpc-features-2__item:nth-child(-n+4),
[data-media-source="media-md"] .four_columns.lpc-features-2__item:nth-child(-n+3),
[data-media-source="media-sm"] .four_columns.lpc-features-2__item:nth-child(-n+2),
[data-media-source="media-xs"] .four_columns.lpc-features-2__item:nth-child(-n+1){
	margin-top: 0px;
}

[data-media-source="media-xl"] .three_columns.lpc-features-2__item:nth-child(-n+3),
[data-media-source="media-lg"] .three_columns.lpc-features-2__item:nth-child(-n+3),
[data-media-source="media-md"] .three_columns.lpc-features-2__item:nth-child(-n+2),
[data-media-source="media-sm"] .three_columns.lpc-features-2__item:nth-child(-n+2),
[data-media-source="media-xs"] .three_columns.lpc-features-2__item:nth-child(-n+1){
	margin-top: 0px;
}

[data-media-source="media-xl"] .two_columns.lpc-features-2__item:nth-child(-n+2),
[data-media-source="media-lg"] .two_columns.lpc-features-2__item:nth-child(-n+2),
[data-media-source="media-md"] .two_columns.lpc-features-2__item:nth-child(-n+2),
[data-media-source="media-sm"] .two_columns.lpc-features-2__item:nth-child(-n+2),
[data-media-source="media-xs"] .two_columns.lpc-features-2__item:nth-child(-n+1){
	margin-top: 0px;
}

.lpc-features-2__item-image {
	margin-bottom: 16px;
	max-width: 180px;
	max-height: 180px;
	border-radius: 50%;
	background: var(--primary-color-l-35);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding: 16px;
	align-self: flex-start;
}

[data-media-source="media-sm"] .lpc-features-2__item-image, 
[data-media-source="media-xs"] .lpc-features-2__item-image {
	padding: 12px;
}

.lpc-features-2__image {
	font-size: 0;
	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
	width: 48px;
	height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lpc-features-2__image svg {
	width: 100%;
	height: 100%;
}

.lpc-features-2__image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

[data-media-source="media-sm"] .lpc-features-2__item-image, [data-media-source="media-xs"] .lpc-features-2__item-image {
	margin-bottom: 12px;
}

.lpc-features-2__item-subtitle {
	margin-bottom: 16px;
}

[data-media-source="media-xs"] .lpc-features-2__item-subtitle {
	margin-bottom: 12px;
}

.lpc-features-2__wrap-box--container {
	background-color: var(--primary-color-a-01);
}

.lpc-features-2__item-content--bg {
	background: var(--content-background-lpc);
	border: none;
}

.lpc-features-2__wrap-box .lp-block-bg_item {
	border-radius: inherit;
	border: inherit;
}